[2015-03-10 18:48] rafaelfranca commented on #728
It is missing a `,` after `"virtualbox"`.

[2015-03-10 18:48] #728 closed

[2015-03-13 14:24] spacepants opened #730 "puppet-radiant_player"
Hi, I made a module for [Radiant Player](https://github.com/kbhomes/radiant-player-mac) to make it faster to pump some sweet jams.
https://github.com/spacepants/puppet-radiant_player

[2015-03-13 14:26] rafaelfranca commented on #730
Boxen is using Brewcask to install OSX applications now. So there is no need to create modules anymore. See https://github.com/boxen/our-boxen/tree/master/hiera/users#example

[2015-03-13 14:26] #730 closed

[2015-03-13 14:37] spacepants commented on #730
Oh sweet, this is way better! Thanks for letting me know.

[2015-03-21 18:48] seanknox commented on #373
@rafaelfranca @mattheath can this be merged in or closed?

[2015-03-21 18:48] seanknox commented on #374
can this be merged in or closed?

[2015-03-21 18:49] seanknox commented on #378
@Dagnan can this issue be closed?

[2015-03-21 18:49] seanknox commented on #381
@jrhe is this still an issue or can it be closed?

[2015-03-21 18:50] seanknox commented on #382
@wallace can you update based on @tarebyte's suggestions or close this?

[2015-03-21 18:50] seanknox commented on #384
@kyletcarlson is this still an issue or can it be closed?

[2015-03-21 18:51] seanknox commented on #386
@AHaymond is this still an issue or can it be closed?

[2015-03-21 18:51] seanknox commented on #393
@bitsandbooks Hi, can you close this issue? Thanks.

[2015-03-21 18:52] seanknox commented on #395
@skoczen Believe this issue is fixed. Can you close this?

[2015-03-21 18:52] seanknox commented on #398
is this still an issue or can it be closed?

[2015-03-21 18:53] seanknox commented on #401
#364 and #713 is where activity to support this is happening— @petems mind closing this one?

[2015-03-21 18:53] seanknox commented on #402
@drodriguez is this still an issue or can it be closed?

[2015-03-21 18:54] seanknox commented on #403
@tarebyte @bilke can this be merged in or the issue closed?

[2015-03-21 18:55] seanknox commented on #410
@spikeheap this should no longer be an issue. please close this or comment if there's still a problem.

[2015-03-21 18:55] seanknox commented on #412
@joshuairl is this still an issue or can it be closed?

[2015-03-21 18:55] seanknox commented on #414
@dieterdemeyer is this still an issue or can it be closed?

[2015-03-21 18:56] seanknox commented on #415
@singuerinc can you either update your module or close this issue?

[2015-03-21 18:56] seanknox commented on #419
@dieterdemeyer can we close this?

[2015-03-21 18:56] seanknox commented on #422
@atomaka can you update your module or close this issue?

[2015-03-21 18:57] seanknox commented on #449
@adamcrews can you update your module or close this issue?

[2015-03-21 18:57] seanknox commented on #452
@deone is this still an issue or can it be closed?

[2015-03-21 18:58] seanknox commented on #458
@tarebyte @rafaelfranca can this be merged in? 8+ months waiting.

[2015-03-21 18:59] seanknox commented on #468
@thepian is this still an issue or can it be closed?

[2015-03-21 19:00] seanknox commented on #470
@mschae please note that this is ready for review or close the issue—thanks!

[2015-03-21 19:01] seanknox commented on #505
@erivello can you close this or acknowledge that it's ready for review?

[2015-03-21 19:02] seanknox commented on #525
@adamwalz @tarebyte can we close this or merge it in if ready?

[2015-03-21 19:04] seanknox commented on #538
@tarebyte can you close this? no update from the author.

[2015-03-21 19:04] adamwalz commented on #525
Yeah it can be closed

[2015-03-21 19:04] #525 closed

[2015-03-21 19:04] seanknox commented on #599
@jamieconnolly is this still an issue or can it be closed?

[2015-03-21 19:05] seanknox commented on #619
@alindeman can this be closed or is it still needed?

[2015-03-21 19:06] seanknox commented on #623
@addigy This is outside the scope of the project, methinks. AFAIK boxen is intended to be run by end users directly, or setup via a cronjob (which itself could be created via boxen).

Please close this, thanks!

[2015-03-21 19:07] seanknox commented on #629
@tarebyte can this be merged in or closed?

[2015-03-21 19:07] seanknox commented on #632
@tarebyte can this be closed due to inactivity?

[2015-03-21 19:08] seanknox commented on #647
@arvi is this still an issue or can it be closed?

[2015-03-21 19:08] seanknox commented on #649
@israelriibeiro is this still an issue or can it be closed?

[2015-03-21 19:09] seanknox commented on #650
@dgoodlad @tarebyte can this be merged in? Been pending a response quite a while.

[2015-03-21 19:09] seanknox commented on #654
@njia is this still an issue or can it be closed?

[2015-03-21 19:09] seanknox commented on #657
@tarebyte @josanastrid can this be merged in or the issue closed?

[2015-03-21 19:10] seanknox commented on #659
Think @dgoodlad put it well. Let's close this issue and for people who want to make this happen, submit PRs.

[2015-03-21 19:11] seanknox commented on #669
@tarebyte can this be merged in or closed?

[2015-03-21 19:11] seanknox commented on #671
@tarebyte can this be merged in or closed?

[2015-03-21 19:11] seanknox commented on #672
@rafaelfranca @tarebyte can this be merged in or closed?

[2015-03-21 19:11] seanknox commented on #674
@tarebyte can this be merged in or closed?

[2015-03-21 19:11] seanknox commented on #675
@tarebyte can this be merged in or closed?

[2015-03-21 19:12] seanknox commented on #676
@tarebyte @rafaelfranca can this be merged in or closed?

[2015-03-21 19:12] seanknox commented on #677
@tarebyte @rafaelfranca can this be merged in or closed?

[2015-03-21 19:12] seanknox commented on #679
@tarebyte can this be merged in or closed?

[2015-03-21 19:12] seanknox commented on #681
@tarebyte can this be merged in or closed?

[2015-03-21 19:13] seanknox commented on #682
:+1: @tarebyte can this be merged in or closed?

[2015-03-21 19:14] seanknox commented on #684
@johnsoga On 10.9+, CLT is the minimum you need to install Boxen. Is this still an issue or can it be closed?

[2015-03-21 19:14] seanknox commented on #685
@johnsoga is this still an issue or can it be closed?

[2015-03-21 19:15] seanknox commented on #691
:+1: @tarebyte can this be merged in or closed?

[2015-03-21 19:16] seanknox commented on #696
@tcooper is this still an issue or can it be closed?

[2015-03-21 19:16] seanknox commented on #698
@tarebyte can this be merged in or closed?

[2015-03-21 19:17] seanknox commented on #700
@tarebyte can this be merged in or closed?

[2015-03-21 19:17] seanknox commented on #701
@KirilAngov is this still an issue or can it be closed?

[2015-03-21 19:20] seanknox commented on #705
@jesseclark Would be great to get this in the FAQ. You could submit a PR with essentially this comment: https://github.com/boxen/our-boxen/issues/443#issuecomment-29438819

[2015-03-21 19:21] seanknox commented on #705
If you don't mind, please close this and open a PR. Thanks!

[2015-03-21 19:23] seanknox commented on #707
@jesseclark project manifests should located in `modules/projects/manifests/`, e.g. `modules/projects/manifests/my_cool_project.pp`. In your project manifest, define its name:

[code]

is this still an issue or can it be closed?

[2015-03-21 19:23] seanknox commented on #708
@tarebyte can this be merged in or closed?

[2015-03-21 19:24] seanknox commented on #710
@MarsuperMammal is this still an issue or can it be closed?

[2015-03-21 19:24] seanknox commented on #715
what @tarebyte said. @addigy is this still an issue or can it be closed?

[2015-03-21 19:25] seanknox commented on #717
@jbcpollak @tcooper I've never seen this. Can you reproduce it and post the steps here?

[2015-03-21 19:26] seanknox commented on #718
yup, what @eugeneius said. @tarebyte mind closing this?

[2015-03-21 19:27] seanknox commented on #723
@rossmcf mind closing this?

[2015-03-21 19:28] seanknox commented on #727
`/opt/boxen/homebrew/bin/git-credential-osxkeychain` is not present. Any idea how it would have been removed?

[2015-03-21 19:29] seanknox commented on #722
This one has always driven me a bit nuts. Thinking about digging into it—any idea from where that exit code is generated?

[2015-03-21 19:33] tarebyte commented on #698
@seanknox is this module available in Homebrew cask?

[2015-03-21 19:33] #718 closed

[2015-03-21 19:35] seanknox commented on #698
@tarebyte indeed it is! @rhoml Please use `brew cask` to install emacs (you can have Boxen do so).

[2015-03-21 19:38] drodriguez commented on #402
I stop using Boxen, so I don’t know if this is still an issue or other changes since then have fixed it or broken this situation even more. Sorry.

[2015-03-21 19:43] seanknox commented on #402
Gotcha. Can you close this issue then? Thanks.

On Sat, Mar 21, 2015 at 12:39 PM Daniel Rodríguez Troitiño <
notifications@github.com> wrote:

[2015-03-21 19:43] #402 closed

[2015-03-21 19:53] KirilAngov commented on #701
Unfortunately, yes. I think `ENV['BOXEN_HOME']` does not do anything. Do you know of the supported way of changing the boxes home directory? My whole effort is to allow boxen to be used by two different users on the same Mac. Is this even a good idea to being with as far as Boxen is concerned?

[2015-03-21 19:55] seanknox commented on #701
How/where are you using `ENV['BOXEN_HOME']`?

[2015-03-21 19:59] #723 closed

[2015-03-21 20:06] skoczen commented on #395
Happy to close, but can't tell you if it's fixed - didn't decide to go with boxen at my new company, so have no installs handy!

[2015-03-21 20:06] #395 closed

[2015-03-21 20:11] #422 closed

[2015-03-21 20:38] KirilAngov commented on #701
in `config/boxen.rb`, like here https://github.com/boxen/our-boxen/blob/master/config/boxen.rb#L5

[2015-03-21 20:40] salimane commented on #727
here is the content of my  ``our-boxen/facts.d/common.yaml``. I'm using ``/usr/local`` as my homebrew path
[code]

[2015-03-21 21:01] seanknox commented on #701
Ah, now I think I understand. Boxen runs as root, so ` "/opt/boxen/#{ENV['USER']}"` will be as `root`, not as your user.

[2015-03-21 21:03] seanknox commented on #727
Does this happen on master? There has been some work recently to support custom homebrew root paths.

[2015-03-21 21:54] seanknox commented on #722
puppet returns an error every time:

`Boxen::Util.sudo`:
[code]

Which runs puppet with the follow commands:

`/opt/boxen/repo/bin/puppet apply --group admin --confdir /tmp/boxen/puppet/conf --vardir /tmp/boxen/puppet/var --libdir /opt/boxen/repo/lib --libdir /opt/boxen/repo/.bundle/ruby/2.0.0/gems/boxen-2.7.1/lib --modulepath /opt/boxen/repo/modules:/opt/boxen/repo/shared --hiera_config /opt/boxe

[2015-03-21 22:05] Dagnan commented on #378
I can't remember what I did or not, anyway you can close it. Thanks!

[2015-03-21 22:06] seanknox commented on #722
Aha! It's a puppet thing.

[code]

Make sure you accept exit codes `0` and `2`, e.g. `:acceptable_exit_codes => [0,2]`.

[code]

[2015-03-21 22:07] seanknox commented on #378
I'm not a maintainer. Do you mind closing?

[2015-03-21 22:10] seanknox commented on #722
There are a lot of entangled code to fix this, perhaps @rafaelfranca or @dgoodlad knows the proper fix.

[2015-03-21 23:00] #378 closed

[2015-03-22 00:06] #654 closed

[2015-03-22 00:36] tarebyte commented on #403
I'm sorry @bilke the url is still not valid.

I looked here https://unity3d.com/unity/collaboration
This seems to be the right download url: http://netstorage.unity3d.com/unity/5b98b70ebeb9/CacheServer.zip

[2015-03-22 00:45] tarebyte commented on #458
@lazzurs does this need to be it's own module? Just from reading over the code that it looks like all it does is install the homebrew package I found here: https://github.com/Homebrew/homebrew/blob/698a68313635ae0e986b7f3c2dd2a8812c80f3b8/Library/Formula/hubflow.rb

[2015-03-22 00:50] #538 closed

[2015-03-22 00:54] tarebyte commented on #629
@seanknox it looks like chromecast is apart of homebrew cask. https://github.com/caskroom/homebrew-cask/blob/45a1bf6350d352172dd9876cfb36bae246652bb4/Casks/chromecast.rb

@nickpellant is this an acceptable substitute? I'm trying to avoid adding more module that are just application wrappers.

[2015-03-22 00:55] tarebyte commented on #632
@brockoffdev feel free to reopen this if you like to bring this discussion up again.

[2015-03-22 00:55] #632 closed

[2015-03-22 00:56] tarebyte commented on #650
@seanknox @tinygrasshopper I would rather use homebrew cask if possible. I found lightroom here: https://github.com/caskroom/homebrew-cask/blob/cec67742ea6351453ba57a92653f08292f8a7d71/Casks/adobe-photoshop-lightroom.rb.

Is this an acceptable substitute?

[2015-03-22 00:58] tarebyte commented on #657
I think @radeksimko has a good point. If it was subject to a DCMA takedown I'd rather not add it in.

@johnbellone I apologize for taking so long with this issue.

[2015-03-22 00:59] tarebyte commented on #669
@thejchap it looks like this is a homebrew wrapper. Not entirely sure it needs it's own wrapper.

[2015-03-22 01:00] tarebyte commented on #671
@seanknox these appears to be a homebrew cask for it: https://github.com/caskroom/homebrew-cask/blob/72d43fce59955032246c46519761ceb428820f5b/Casks/optimal-layout.rb

[2015-03-22 01:02] tarebyte commented on #672
@seanknox since we have official support for homebrew cask I'd rather not add another wrapper module.

@thejchap would you be opposed to making a PR and adding wrecker to homebrew cask?

[2015-03-22 01:04] tarebyte commented on #674
@marciok @seanknox there appears to be a homebrew cask formula for this: https://github.com/caskroom/homebrew-cask/blob/2dd9c269d408f33df25d2a87049cac5c287b93aa/Casks/reveal.rb.

I would rather not add anymore wrappers for applications unless that add something more to the functionality.

@marciok I apologize for getting to this so late.

[2015-03-22 01:05] tarebyte commented on #676
@mcauser @seanknox there appears to be a homebrew cask formula for this: https://github.com/caskroom/homebrew-cask/blob/b352b306b7c151151c085b149ab9bf7d47021789/Casks/dragondisk.rb.

I would rather not add anymore wrappers for applications unless that add something more to the functionality.

@mcauser I apologize for getting to this so late.

[2015-03-22 01:06] tarebyte commented on #675
@mcauser @seanknox there appears to be a homebrew cask formula for this: https://github.com/caskroom/homebrew-cask/blob/da28cb3e724c1a8cdf6949b954645b067e526bad/Casks/fabric.rb.

I would rather not add anymore wrappers for applications unless that add something more to the functionality.

@mcauser I apologize for getting to this so late.

[2015-03-22 01:07] tarebyte commented on #677
@mcauser @seanknox there appears to be a homebrew cask formula for this: https://github.com/caskroom/homebrew-cask/blob/13a89ee27d2c47923c8387b5e9ade5d3adfe6234/Casks/fritzing.rb.

I would rather not add anymore wrappers for applications unless that add something more to the functionality.

@mcauser I apologize for getting to this so late.

[2015-03-22 01:08] tarebyte commented on #679
@mcauser @seanknox there appears to be a homebrew cask formula for this: https://github.com/caskroom/homebrew-cask/blob/b352b306b7c151151c085b149ab9bf7d47021789/Casks/jd-gui.rb.

I would rather not add anymore wrappers for applications unless that add something more to the functionality.

@mcauser I apologize for getting to this so late.

[2015-03-22 01:09] tarebyte commented on #681
@mcauser @seanknox there appears to be a homebrew cask formula for this: https://github.com/caskroom/homebrew-cask/blob/c1d43b6f58aec04de1416c26e9ffd06240b92c77/Casks/eagle.rb.

I would rather not add anymore wrappers for applications unless that add something more to the functionality.

@mcauser I apologize for getting to this so late.

[2015-03-22 01:10] tarebyte commented on #682
@mcauser @seanknox there appears to be a homebrew cask formula for this: https://github.com/caskroom/homebrew-cask/blob/0575fb31de8488bb7ebe0efbf2c2579eef6231c1/Casks/balsamiq-mockups.rb.

I would rather not add anymore wrappers for applications unless that add something more to the functionality.

@mcauser I apologize for getting to this so late.

[2015-03-22 01:11] tarebyte commented on #691
@hakamadare @seanknox there appears to be a homebrew cask formula for this: https://github.com/caskroom/homebrew-cask/blob/b352b306b7c151151c085b149ab9bf7d47021789/Casks/diskmaker-x.rb.

I would rather not add anymore wrappers for applications unless that add something more to the functionality.

@hakamadare I apologize for getting to this so late.

[2015-03-22 01:12] tarebyte commented on #700
@rhoml @seanknox there appears to be a homebrew cask formula for this: https://github.com/caskroom/homebrew-cask/blob/6a66da2e01e5d9b7b71921045aaeb810e22ff206/Casks/rescuetime.rb.

I would rather not add anymore wrappers for applications unless that add something more to the functionality.

@rhoml I apologize for getting to this so late.

[2015-03-22 01:14] tarebyte commented on #708
@taoistmath @seanknox there appears to be a homebrew cask formula for this: https://github.com/caskroom/homebrew-cask/blob/fd264c3e492defc1e69cac4bd8b2ffcb7bad474e/Casks/rstudio.rb.

I would rather not add anymore wrappers for applications unless that add something more to the functionality.

@taoistmath I apologize for getting to this so late.

[2015-03-22 01:21] tarebyte commented on #659
I agree with @dgoodlad and @seanknox, @telamonian please feel free to open PRs if you'd like to see this happen!

[2015-03-22 01:21] #659 closed

[2015-03-22 01:25] #410 closed

[2015-03-22 03:37] arvi commented on #647
Hi @seanknox, you may close this issue as this seems to be a machine-specific problem based on other comments. After couple of days trying to fix this before, I decided to not use boxen anymore. I had fun experimenting how it works as it used to work before, though behavior was not consistent when I ran it again and would just take a lot of my time instead of focusing to things I need to get done.

[2015-03-22 03:46] seanknox commented on #647
Thanks @arvi. I'm not a maintainer, would you mind closing this?
On Sat, Mar 21, 2015 at 8:37 PM arvi <notifications@github.com> wrote:

[2015-03-22 04:07] arvi commented on #647
Hmmmm, I haven't closed an issue before. Reading this article, I don't have anything to commit or merge. I think the authors of boxen can just close it if they want to. After all they have 475 open issues.

https://guides.github.com/features/issues/
[code]

Thanks!

[2015-03-22 04:09] seanknox commented on #647
@arvi next to the comment button is a "close issue" button. click that.

[2015-03-22 05:16] arvi commented on #647
@seanknox bummer haha... I was looking for it near the title :p Thanks!

[2015-03-22 09:17] #682 closed

[2015-03-22 09:18] #681 closed

[2015-03-22 09:19] #679 closed

[2015-03-22 09:35] singuerinc commented on #415
@tarebyte @seanknox Fixed!

[2015-03-22 09:35] #415 closed

[2015-03-22 09:44] #677 closed

[2015-03-22 09:45] mcauser commented on #675
@marciok I believe he is referring to you

[2015-03-22 09:45] #676 closed

[2015-03-22 18:18] seanknox commented on #328
@dieterdemeyer can you give this a whirl with the latest release and make sure everything is kosher?

[2015-03-22 18:20] seanknox commented on #381
@jrhe It's been a while since this was opened. If it's still happening feel free to reopen.

[2015-03-22 18:20] #381 closed

[2015-03-22 18:21] seanknox commented on #384
Closing this since been a while since it was originall reported. If it's still happening feel free to reopen.

[2015-03-22 18:21] #384 closed

[2015-03-22 18:21] seanknox commented on #385
Closing this since been a while since it was originally reported. If it's still happening feel free to reopen.

[2015-03-22 18:21] #385 closed

[2015-03-22 18:22] seanknox commented on #386
Closing this since been a while since it was original reported. If it's still happening feel free to reopen.

[2015-03-22 18:22] #386 closed

[2015-03-22 18:22] seanknox commented on #393
Closing this since been a while since it was original reported. If it's still happening feel free to reopen.

[2015-03-22 18:22] #393 closed

[2015-03-22 18:22] seanknox commented on #398
Closing this since been a while since it was original reported. If it's still happening feel free to reopen.

[2015-03-22 18:22] #398 closed

[2015-03-22 18:23] seanknox commented on #401
Closing this in favor of the work happening in the issues mentioned above.

[2015-03-22 18:23] #401 closed

[2015-03-22 18:23] seanknox commented on #407
Closing this since been a while since it was original reported. If it's still happening feel free to reopen.

[2015-03-22 18:23] #407 closed

[2015-03-22 18:24] seanknox commented on #409
@aharpole I know this isn't an issue currently, and vaguely recall this being an issue around the time you reported it. Closing.

[2015-03-22 18:24] #409 closed

[2015-03-22 18:24] seanknox commented on #412
Closing this since been a while since it was original reported. If it's still happening feel free to reopen.

[2015-03-22 18:24] #412 closed

[2015-03-22 18:25] seanknox commented on #414
Closing this since been a while since it was original reported. If it's still happening feel free to reopen.

[2015-03-22 18:25] #414 closed

[2015-03-22 18:25] seanknox commented on #419
Closing this since been a while since it was original reported. If it's still happening feel free to reopen.

[2015-03-22 18:25] #419 closed

[2015-03-22 18:26] seanknox commented on #452
Closing this since been a while since it was originally reported. If it's still an issue, feel free to reopen.

[2015-03-22 18:26] #452 closed

[2015-03-22 18:26] seanknox commented on #715
@addigy closing this—if it's still an issue feel free to re-open with more details.

[2015-03-22 18:26] #715 closed

[2015-03-22 18:29] seanknox commented on #470
Closing this since it appears to have been abandoned. @mschae feel free to resubmit when ready for a review.

[2015-03-22 18:29] #470 closed

[2015-03-22 18:29] deone commented on #452
I'm sorry for the delay in reply. I've been using boxen and can't even remember this error. So yes, it should be closed.

[2015-03-22 18:30] seanknox commented on #468
Closing this since been a while since it was originally reported. If it's still an issue, feel free to reopen.

[2015-03-22 18:30] #468 closed

[2015-03-22 18:31] #623 closed

[2015-03-22 18:31] seanknox commented on #649
Closing this since been a while since it was originally reported. If it's still an issue, feel free to reopen.

[2015-03-22 18:31] #649 closed

[2015-03-22 18:34] seanknox commented on #657
I think the DMCA concerns here are valid. I fear Boxen would simply receive a request to remove it as well. @josanastrid thanks for your work on this, sorry we can't merge it in!

[2015-03-22 18:34] #657 closed

[2015-03-22 18:35] seanknox commented on #684
Closing this since been a while since it was originally reported. If it's still an issue, feel free to reopen.

[2015-03-22 18:35] #684 closed

[2015-03-22 18:35] seanknox commented on #685
Closing this since been a while since it was originally reported. If it's still an issue, feel free to reopen.

[2015-03-22 18:35] #685 closed

[2015-03-22 18:39] aripalo commented on #385
Yeah, can be closed... can't actually even remember if we got that fixed or not.

We actually moved away from Boxen as it turned out to be to too much of work for our team to manage. Nowadays our ICT guys provide us easy, managed software installation via [Munki](https://github.com/munki/munki) and all our development is done in Vagrant+Ansible controlled virtual machines. So there's not really th

[2015-03-22 18:39] seanknox commented on #696
@tcooper @olofjohansson @jesseclark this is strange behavior. As pointed out above, the top-level `modules/` is for your personal or project manifests. Boxen modules are all in `shared/`.

Are any of you modifying Boxen aside from `Puppetfile` or creating manifests? Trying to understand what's different about your Boxens.

[2015-03-22 18:39] #705 closed

[2015-03-22 18:42] seanknox commented on #707
Closing this since been a while since it was originally reported. If it's still an issue, feel free to reopen.

[2015-03-22 18:42] #707 closed

[2015-03-22 18:43] seanknox commented on #696
Actually, this issue was mentioned in https://github.com/boxen/our-boxen/issues/717, so I'm closing this one. Feel free to jump in there if this still an issue.

[2015-03-22 18:43] #696 closed

[2015-03-22 18:43] seanknox commented on #717
This is strange behavior. As pointed out above, the top-level modules/ is for your personal or project manifests. Boxen modules are all in shared/.

Are any of you modifying Boxen aside from Puppetfile or creating manifests? Trying to understand what's different about your Boxens.

[2015-03-22 19:40] rafaelfranca commented on #328
Boxen is using brewcask for OS X applications, so there is no need to wrap them in modules anymore. We are planning to deprecate the existing modules at boxen organization and improve the documentation about brewcask. That said I'm closing this issue. Thank you.

[2015-03-22 19:40] #328 closed

[2015-03-22 19:46] seanknox commented on #708
@tarebyte is correct: Boxen is using brewcask for OS X applications, so there is no need to wrap them in modules anymore. We are planning to deprecate the existing modules at boxen organization and improve the documentation about brewcask.

[2015-03-22 19:46] #708 closed

[2015-03-22 19:46] seanknox commented on #700
@tarebyte is correct: Boxen is using brewcask for OS X applications, so there is no need to wrap them in modules anymore. We are planning to deprecate the existing modules at boxen organization and improve the documentation about brewcask.

[2015-03-22 19:46] #700 closed

[2015-03-22 19:46] #698 closed

[2015-03-22 19:46] seanknox commented on #691
@tarebyte is correct: Boxen is using brewcask for OS X applications, so there is no need to wrap them in modules anymore. We are planning to deprecate the existing modules at boxen organization and improve the documentation about brewcask.

[2015-03-22 19:46] #691 closed

[2015-03-22 19:46] seanknox commented on #675
@tarebyte is correct: Boxen is using brewcask for OS X applications, so there is no need to wrap them in modules anymore. We are planning to deprecate the existing modules at boxen organization and improve the documentation about brewcask.

[2015-03-22 19:46] #675 closed

[2015-03-22 19:46] seanknox commented on #674
@tarebyte is correct: Boxen is using brewcask for OS X applications, so there is no need to wrap them in modules anymore. We are planning to deprecate the existing modules at boxen organization and improve the documentation about brewcask.

[2015-03-22 19:46] #674 closed

[2015-03-22 19:47] seanknox commented on #671
@tarebyte is correct: Boxen is using brewcask for OS X applications, so there is no need to wrap them in modules anymore. We are planning to deprecate the existing modules at boxen organization and improve the documentation about brewcask.

[2015-03-22 19:47] #671 closed

[2015-03-22 19:47] seanknox commented on #669
Please re-open if installing view homebrew isn't sufficient.

[2015-03-22 19:47] #669 closed

[2015-03-22 19:48] seanknox commented on #650
@tarebyte is correct: Boxen is using brewcask for OS X applications, so there is no need to wrap them in modules anymore. We are planning to deprecate the existing modules at boxen organization and improve the documentation about brewcask.

[2015-03-22 19:48] #650 closed

[2015-03-22 19:48] seanknox commented on #629
@tarebyte is correct: Boxen is using brewcask for OS X applications, so there is no need to wrap them in modules anymore. We are planning to deprecate the existing modules at boxen organization and improve the documentation about brewcask.

[2015-03-22 19:48] #629 closed

[2015-03-22 19:49] seanknox commented on #458
Agreed—if it's just a homebrew formula, just include it in a manifest. @lazzurs feel free to re-open if you have a good module use case.

[2015-03-22 19:49] #458 closed

[2015-03-22 22:48] mcauser commented on #675
Sounds good

[2015-03-22 23:05] marciok commented on #674
Ah ok, so boxen will be 100% dependent on homebrew ? :disappointed:

[2015-03-22 23:06] seanknox commented on #674
It already is dependent on Homebrew.
On Sun, Mar 22, 2015 at 4:05 PM Marcio Klepacz <notifications@github.com>
wrote:

[2015-03-22 23:13] rafaelfranca commented on #674
For installing OS X applications yeah, it is 100% dependent on homebrew.

For installing services like MySQL it is not true. Our default package
provider is homebrew but you can use whenever you want.

So for services we will keep the puppet modules, for os X applications we
will only use brewcask

On Sun, Mar 22, 2015, 20:05 Marcio Klepacz <notifications@github.com> wrote:

[2015-03-23 04:09] rafaelfranca commented on #374
@seanknox I think you can merge now. If you think it is good :shipit:. Looks good to me.

[2015-03-23 04:13] rafaelfranca commented on #722
Could you explain why we need to return 0? I believe we should keep playing nice with puppet exit codes.

[2015-03-23 04:26] rafaelfranca commented on #373
Seems good to merge

[2015-03-23 05:16] seanknox commented on #722
Agree we should play nice with Puppet (and think we can) but it's indeed odd that Puppet breaks UNIX convention that a successful run returns a non-zero exit code. Boxen itself ultimately returns Puppet's exit code when it finishes, so to an user—or a test—it appears to be in error.

At the end of `Boxen::CLI`:

[code]

We know whether puppet ran successfully or not during the postflight checks—`P

[2015-03-23 05:29] tcooper commented on #717
Before the last time I updated our-boxen I tucked my personal modules away for safe keeping. The update removed them so I created a branch to store them in and have been running boxen out of the branch since then and haven't updated our-boxen since then because of the problem. When I get a chance I'll merge my branch to master and update to see if the problem can still be reproduced.

[2015-03-23 06:01] rafaelfranca commented on #722
:+1:

[2015-03-23 07:22] seanknox commented on #373
Hi @mattheath, I can't get your tests to run successfully. Can you update your spec `Puppetfile` with appropriate version updates? At the very least you'll need:

[code]
Sorry it's taken so long to respond to this.

[2015-03-23 07:22] seanknox commented on #374
Hi @mattheath, I can't get your tests to run successfully. Can you update your spec `Puppetfile` with appropriate version updates? At the very least you'll need:

[code]
Sorry it's taken so long to respond to this.

[2015-03-23 16:27] rhoml commented on #700
So the idea is to remove default puppet providers? What happens if I don't want to use brew paths for everything?

[2015-03-23 16:48] tarebyte commented on #700
@rhoml what is your use case that you don't want to use brew paths?

[2015-03-23 16:50] rhoml commented on #700
It is just an idea, imagine that I want to install my packages on the applications folder instead of using brew for it. (Actually I dislike brew/ports)

[2015-03-23 18:34] seanknox commented on #700
Check out brew cask. I think it does what you want.
On Mon, Mar 23, 2015 at 9:50 AM Rhommel Lamas <notifications@github.com>
wrote:

[2015-03-25 13:57] #710 closed

[2015-03-25 14:26] mattheath commented on #373
Ok, not sure when I'll get around to it, but will update when I can. Needless to say the versions in that file are from when I submitted the PR so likely rather out of date :wink:

[2015-03-26 00:01] seanknox commented on #717
Sounds good. I'm going to close this for now, but if you discover it to still be an issue feel free to re-open.

[2015-03-26 00:02] #701 closed

[2015-03-26 00:02] seanknox commented on #599
Closing to due to lack of activity.

[2015-03-26 00:02] #599 closed

[2015-03-26 00:03] seanknox commented on #364
#720 is where this work is now happening.

[2015-03-26 00:03] #364 closed

[2015-03-26 00:14] seanknox commented on #528
This was fixed in be298839fa82dcbbf94ebd0032de8667d1694009 and later improved in 056ca871.

[2015-03-26 00:14] #528 closed

[2015-03-26 00:14] seanknox commented on #382
Closing due to lack of activity. Feel free to re-open.

[2015-03-26 00:14] #382 closed

[2015-03-26 00:15] seanknox commented on #449
Closing due to lack of activity.

[2015-03-26 00:15] #449 closed

[2015-03-26 00:15] seanknox commented on #505
Closing due to lack of activity. Feel free to re-open when you're ready.

[2015-03-26 00:15] #505 closed

[2015-03-26 00:16] seanknox commented on #619
Closing due to lack of activity.

[2015-03-26 00:16] #619 closed

[2015-03-26 00:16] #672 closed

[2015-03-26 00:26] adamcrews commented on #449
I'll get it fixed up this weekend.

[2015-03-26 00:40] fernandes commented on #505
@seanknox as @erivello is not replying, may I submit my fork? I fixed the tests... and if it becomes official I'm gonna add more stuff like:

1. set own theme
2. add custom alias / plugin

thank you

[2015-03-26 01:24] seanknox commented on #505
@fernandes Sure. Submit a new issue with it.

[2015-03-26 17:08] fernandes opened #733 "new module puppet-ohmyzsh"
In https://github.com/boxen/our-boxen/issues/505 @erivello proposed a new puppet-ohmyzsh module, as he stopped replying on the issue.

I'm opening this one with my fork keeping original work.

This is my first submit, if anything wrong, or if needs to be improved I'm ready to do it

//cc @seanknox

[2015-03-26 17:08] fernandes commented on #505
done... thank you @seanknox !

[2015-03-26 19:38] seanknox commented on #733
Hi @fernandes, please provider a link to your module repo and once it gets an ok, we'll fork it to the `boxen` organization and make you an owner.

[2015-03-26 20:12] fernandes commented on #733
ohhhh my bad!!! really really sorry hehehhe

here its: https://github.com/fernandes/puppet-ohmyzsh

thank you

[2015-03-27 10:34] lukasz-madon opened #734 "Faling to compile NodeJS"
I have a following error while installing boxen on a fresh machine with Mavericks

[code]

Sadly, I need to use this version of Node, so updating is not an option. I have a second machine which didn't have this problem a few months ago. Possible candidate is a wrong lib that break ABI. The gcc --version have the same output on both machines.

Any suggestion?

[2015-03-29 15:58] adamcrews commented on #449
This is all fixed up with https://github.com/adamcrews/puppet-hermes/releases/tag/1.0.1

[2015-03-30 11:31] fernandes commented on #733
hi @seanknox , is the module ok?

thank you

[2015-03-31 17:12] wxactly opened #736 "our-boxen install is painfully slow"
I'm running through the initial boxen setup on OSX 10.10.2 (Xcode installed) with a fresh copy of this repo. I'm basically just trying to get something working on my machine before I start customizing. The script stalled for over 30 minutes on `Executing 'brew boxen-install boxen/brews/gcc48'`

[code]

Is it supposed to take so long? The whole script hasn't finished yet still, as I write this issu

[2015-03-31 17:15] rafaelfranca commented on #736
Yes. The initial setup usually is longer, although I think your problem is that you are not using the packages cache, and it is compiling in your machine.

[2015-03-31 17:15] #736 closed

[2015-03-31 17:18] wxactly commented on #736
@rafaelfranca Thanks for the tip - can you clarify what you mean? I don't want to recompile everything if I don't need to. Is there some documentation available for how to use the packages cache?

[2015-03-31 17:23] rafaelfranca commented on #736
Boxen by default use a package cache in a S3 bucket provided by GitHub, depending on what you use this bucket not contain the packages, and there is nothing that you can do. The best thing to do is create your own package cache and let things compile in the first time.

to configure it you just need to set https://github.com/boxen/our-boxen/blob/689633f05a16c6fc4589d5341a2e8f40a7419ead/config/boxe

[2015-04-04 22:38] sebroeder commented on #727
Yes, I see this too and my fork is based on 689633f.

[2015-04-05 02:10] seanknox commented on #727
Ok, looks like `/opt/boxen/bin/boxen-git-credential` needs some updating (and perhaps other things) to respect the custom Homebrew path.

[2015-04-05 10:34] sebroeder commented on #727
Can somebody confirm that `/opt/boxen/bin/boxen-git-credential` does not take up the environment variable `BOXEN_GIT_CREDENTIAL_FALLBACK`?

I tried to set it in two different ways:

[code]

[code]

They both give me the same unchanged error message:

[code]

[2015-04-06 19:29] seanknox commented on #727
@sebroeder can you paste the contents of your `/opt/boxen/config/boxen/defaults.json`?

[2015-04-06 19:45] sebroeder commented on #727
Sure.

[code]

[2015-04-06 19:49] seanknox commented on #733
Hi @fernandes, this a lot of support code that ultimately just executes one-line shell command. If there was more complexity that warranted a specialized module I could get on board, but this should be handled in a personal/project manifest.

[2015-04-06 19:49] #733 closed

[2015-04-06 20:19] seanknox commented on #449
@adamcrews much appreciated for updating this, but looking further, hermes can be installed through homebrew cask. We're not accepting modules for applications available from cask since it can be easily included in a manifest without need for a module/testing.

[2015-04-06 20:19] seanknox commented on #449
[code]

[2015-04-06 20:51] adamcrews commented on #449
Awesome.  At the time I made the module, the cask version did not exist.  I'll make a note in my module pointing people at the homebrew install.

[2015-04-06 23:45] seanknox commented on #727
@sebroeder do you have any custom `hiera.yaml/facts.d` config?

[2015-04-07 10:18] sebroeder commented on #727
@seanknox

[code]

[2015-04-07 12:05] fernandes commented on #733
hi @seanknox ... thank you for you comment, submitted because of #505, but no problem... I'm gonna improve it then I reopen this issue when ready

thank you for your attention

[2015-04-10 13:27] blackjid commented on #736
@rafaelfranca @mikemcquaid

How would you add the S3 credentials if you want to have your boxen repo public?? I seams that is no a great idea to just add them to the `config/boxen.rb` file, right?

any idea?

[2015-04-10 14:35] mikemcquaid commented on #736
I don't know but maybe you could use environment variables and wrap them somehow with another tool to set them?

[2015-04-13 22:26] seanknox commented on #647
Ah, just experienced this for myself on a pair of late 2012 iMacs. None of the workarounds here fixed the issue.

[2015-04-13 23:43] tob1k commented on #647
Strange- We have several late 2012 27" iMacs that haven't had this problem.

[2015-04-15 11:22] jakubholynet commented on #646
Shouldn't the same change, i.e. adding flavor => zip, be applied also to `dev.pp`?

[2015-04-16 22:26] rossfeller opened #740 ""Error: git 2.3.5 already installed" when running script"
I just boostrapped a clean machine from c3a0789fb4e723cf49b02983714a5323f76acff5, and got an error message (below) about halfway through the install. Seems like some part of the process installs git 2.3.5 and then the script tries to "upgrade" to 2.3.0 (specified by 2.7.5 tag in the Puppetfile). The rest of the install completed fine, and everything appears to work, although git 2.3.5 is installed

[2015-04-16 22:55] goofansu commented on #740
I encountered this error too.

[2015-04-16 22:59] rafaelfranca commented on #740
Yeah, I had too but I could not track down what is installing `git` before boxen do it. I'll have to take a closer look.

[2015-04-16 23:56] rossfeller commented on #740
Could it be happening at [L57](https://github.com/boxen/our-boxen/blob/master/manifests/site.pp#L57) in the `manifests/site.pp` file?

[2015-04-17 00:02] rafaelfranca commented on #740
That line is installing the version that is giving us the error, but something installed an newest version before it.

[2015-04-17 07:09] jakubholynet commented on #740
Perhaps the Command Line tools for XCode install git?

[2015-04-17 07:20] jakubholynet opened #741 "Boxen fails to compile gcc (and more) on Yosemite"
I have tried twice to run Boxen on a fresh Yosemite and it failed in both cases (1. with my custom modules; 2. with our-boxen as-is, after erasing HDD & reinstalling) when trying to compile gcc. However that was not the only failure, it also failed to make the fish shell (when I tried with my boxen modification) - so I suspect that it is not gcc-specific but a more general problem. Perhaps Boxen d

[2015-04-17 13:32] leonardoobaptistaa commented on #647
@seanknox I had this problem yesterday on a 2011 macbook pro, this is how I managed to fix it:
https://github.com/Homebrew/homebrew-versions/issues/760#issuecomment-93985762

Explanation here:
https://github.com/mriddle/puppet-gcc/releases/tag/2.2.1

[2015-04-18 04:24] jhenahan commented on #649
Getting the same issue. `hiera` requires me to pass the Boxen config explicitly, then looks in the wrong place for, say, `common.yaml`.

`config/hiera.yaml`: As in `our-boxen`.

`hiera/common.yaml`:

    ---
    ruby::provider: 'chruby'
    hub::protocol: 'git'

Then:

    $ hiera hub::protocol
    Failed to start Hiera: RuntimeError: Config file /etc/hiera.yaml not found

With explicit config and

[2015-04-18 17:11] mpherg commented on #741
I have the same problem. Clean install of Yosemite 10.10.3, Xcode 6.3 (6D570), pristine our-boxen clone c3a0789fb4e723cf49b02983714a5323f76acff5. See [gist of my debug run](https://gist.github.com/mpherg/7584c8b08b2f3390e2c4) for details.

The [homebrew git error](https://gist.github.com/mpherg/7584c8b08b2f3390e2c4#file-boxen-run-L2294) is the same as [#740](https://github.com/boxen/our-boxen/issu

[2015-04-18 19:52] jakubholynet commented on #741
Hi mpherg, thanks a lot for the useful links! Have you managed to get boxen working by downgrading command line tools or some other means?

[2015-04-19 15:01] mpherg commented on #741
I installed Command Line Tools 6.2 for OS 10.10 from the Apple Developer Site, but it still doesn't work:

[code]

I will start digging further into the C++ issue now.

[2015-04-19 19:35] catd0g commented on #741
I'm experiencing the same [Gist](https://gist.github.com/5cd93a9929b0c6e8157e.git)

[2015-04-19 19:59] rafaelfranca commented on #740
Don't think so. It is complaining because we already have a git versions being installed using homebrew, so I don't think it is complaining about the Command Line tools's git.

[2015-04-19 20:32] seanknox opened #742 "Switch from Puppet to Chef or Ansible?"
Probably the biggest source of confusion for people working with Boxen is Puppet. Puppet is complicated, has its own DSL, is extremely verbose, and as an external dependency is a big pain to work with—here's one example of probably many where [it took over 2 months to fix Puppet using curl insecurely over SSL](https://tickets.puppetlabs.com/browse/PUP-3346). Debugging Puppet errors is extremely te

[2015-04-19 20:39] rafaelfranca commented on #742
Not sure if we will have any gain changing from puppet for something else. It is seems like we saying "ok, people don't understand our open source library because it is written in C. Lets rewrite it in Ruby".

Of course syntax matters, but I don't see it as a problem. If people want to use Boxen they can just learn Puppet.

I never used Chef or Ansible before, so I can't say if they provide everyt

[2015-04-19 20:50] seanknox commented on #742
Having now deployed Boxen for developer on-boarding at three companies, everyone appreciates it but hates working in it, and the main reason for that is Puppet's DSL and how difficult it is to debug and troubleshoot typos or syntax errors in manifests. Here's one example from an actual project:

[code]

Look at the `command` line. The cost of DRY'ing up that long bundle command is: don't forget th

[2015-04-19 21:05] rafaelfranca commented on #742
Is it a problem of the tool or an education problem? If we where using Ansible or change this would be different? I don't think so. People has personal preferences and it is fine, but I don't think personal preferences should drive a huge change like this one.

Also, for a open source project like this one we should think in "what are the tools the maintainers are comfortable with?". I believe thi

[2015-04-19 21:15] seanknox commented on #742
Again, three different companies. All of them software companies, senior engineers fluent in multiple programming languages, people with significant ops experience, some ex-Pivotal Labs people. This isn't an education problem.

Puppet was chosen for Boxen because that's what GitHub's devops people used to maintain their corporate infrastructure. And used to manage large enterprise, Puppet can be f

[2015-04-19 21:19] rafaelfranca commented on #742
Do we have how to assert that any other choice would be better?

Not saying that we can't, just saying that is too much work for a (dubious?) gain.

[2015-04-19 21:28] seanknox commented on #742
I suppose a spike with basic functionality and some module examples would be in order. Initially, I want to get feedback with more experience using these systems.

[2015-04-19 21:31] rafaelfranca commented on #742
Well, I can't say no if we can assert that it will be worth, and more important I can't say no if you want to try. But I can't put too much energy on this right now, sorry. I'll definitely review and give inputs though.

[2015-04-19 23:07] takashiyoshida commented on #742
@seanknox Have you tried alternatives to Boxen? [Battleschool](https://github.com/spencergibb/battleschool) might fit your bill if you do not want to use Puppet. I don't have a first hand experience with it but you may want to have a look. You can also read [Spencer Gibb's blog](http://spencer.gibb.us/blog/2014/02/03/introducing-battleschool/) too.

[2015-04-20 00:07] indirect commented on #727
@sebroeder @seanknox I can confirm that simply setting homebrew's root to `/usr/local` is enough to cause this problem, and I can also confirm that explicitly setting `BOXEN_GIT_CREDENTIAL_FALLBACK` does _not_ fix it. Somehow the helper is clearing that variable, I'm guessing somewhere inside `boxen/config`. Is there a place we should be setting it inside boxen, instead?

[2015-04-20 08:16] sebroeder commented on #727
@indirect thanks for confirming the issue. I am not sure how to proceed from here. I want to find out where exactly the env vars are erased as this causes problems for me in other places, too. I also don't know whether the custom `boxen-git-credential` helper is needed at all, as discussed in boxen/boxen#169.

The `README.md` in `boxen/boxen` provides the following info, which might be related to

[2015-04-20 08:31] mikemcquaid commented on #742
Given my personal experiences with Chef I'm not convinced it would be any easier (and it would probably be worse). Puppet has a Ruby DSL so it's maybe worth investigating if that can be used.

For what it's worth I personally agree that Puppet is extremely painful to work with for something like Boxen but to rewrite it in e.g. Chef would require reimplementing essentially the whole project from sc

[2015-04-20 08:31] #742 closed

[2015-04-20 13:22] mpherg commented on #741
OK, here's the magic incantation that worked for me:

1. Reinstall clean OS 10.10.3.
2. Install Xcode **6.2** from developer.apple.com. **RESIST THE URGE TO INSTALL XCODE FROM THE APP STORE!! IT BROKE THE C++ STANDARD LIBRARY**.
3. Clone and run boxen as normal. When you see the error about Git 2.3.5 as described in #740, stop boxen, run `brew remove git`, and re-run boxen.
4. Enjoy your new box.

[2015-04-20 22:41] jhenahan commented on #741
I think the git issue in #740 is due to boxen/puppet-git now specifying 2.3.5 in the Hiera defaults. Setting an appropriate default in our-boxen should resolve that part, at least.

[2015-04-20 22:44] jhenahan commented on #740
I mentioned this in the other issue, but I think this is down to boxen/puppet-git specifying 2.3.5 in its Hiera defaults.

[2015-04-21 01:18] mpherg commented on #741
That makes sense. I put `git::version: '2.3.5'` in my hiera and verified that this appears to solve #740.

[2015-04-23 21:23] indirect commented on #727
@mikemcquaid do you not experience this issue? My current solution is to hard-code `/usr/local`, and that sucks. Is there a variable I can use to access the fact that contains the homebrew root instead?

[2015-04-24 12:52] #727 closed

[2015-04-24 13:13] BillWeiss commented on #741
I'm just trying boxen for the first time, on a fresh 10.10 install.  Is there any way to fix this (or things people would try) other than burn it down and start over?  I figured out the git problem (I use Puppet daily, just not on my Mac) but am stymied by gcc.

[2015-04-24 13:24] mpherg commented on #741
You should be able to just download Xcode 6.2 from developer.apple.com and install it over top of 6.3 (or 6.3.1, which I sincerely had hoped would fix this problem since the release notes seemed to indicate that the __debug header had been fixed, but alas, it is still broken). Make sure you run Xcode at least once to ensure that the command line utilities are installed and configured, then rerun b

[2015-04-24 14:02] BillWeiss commented on #741
Ok.   I'll give it a shot...

[2015-04-24 15:24] BillWeiss commented on #741
That worked.  Thanks!

[2015-04-24 19:51] seanknox commented on #740
@jhenahan FYI while just a short term fix until we understand what in Homebrew is installing git earlier than expected—I bumped the git version in the `puppet-git` module to use 2.3.6.

[2015-04-24 21:46] #740 closed

[2015-04-24 21:47] seanknox commented on #741
@BillWeiss @mpherg @jakubholynet I've updated `puppet-git` and `puppet-gcc` with fixes for each, respectively. Try using the latest release of both.

[2015-04-25 01:09] BillWeiss commented on #741
Would the way to test that be to bump the versions in my Puppetfile, remove my version lock for git, upgrade XCode to latest, and see if brew still runs?

[2015-04-25 01:22] seanknox commented on #741
1. Edit your Puppetfile so gcc and git modules are the latest releases (see
the puppet-gcc and puppet-git repos to the get the release version)
2. Remove any git version pinning in hiera
3. Ensure your Xcode or Command Line Tools are the latest versions
4. Run boxen
On Fri, Apr 24, 2015 at 8:09 PM Bill Weiss <notifications@github.com> wrote:

[2015-04-25 03:30] BillWeiss commented on #741
It worked!  Updated to the latest of both modules and installed xcode 6.3.1, success.  Thanks for the speedy fix!

[2015-04-27 05:13] seanknox opened #744 "Bump gcc and ruby module versions"
- Latest puppet-gcc release works on systems with latest XCode/CLT— their clang broke gcc compilation.
- Latest puppet-ruby has a number of fixes and enhancements.

[2015-04-30 22:57] jbcpollak commented on #741
Hi,

I'm having this same problem. I have Xcode 6.3.1 installed on a brand new Mac, and I upgraded my Puppetfile like this:

[code]

And I still get this error message:

[code]

[2015-05-01 03:07] jbcpollak commented on #717
This happened to me again, on a brand new Mac after upgrading following the instructions in the faq.

I am not 100% sure what happened, but here is what I did:

* checked out my master 'our-boxen', where everything is fine
* make a branch
* merged current upstream `our-boxen` into our branch
* resolved conflicts
* At this point I'm reasonably confident our changes were still in place
* ran bundle

[2015-05-01 04:27] jbcpollak commented on #717
I followed the update instructions in the FAQ (https://github.com/boxen/our-boxen/blob/master/docs/faq.md) with the one exception of using a local branch rather than master. The files were not deleted.

I suspect the files end up deleted after the first run of `./scripts/boxen` after following the upgrade instructions, but I have no idea how boxen works, so I'm not sure if that is a reasonable gue

[2015-05-03 03:07] seanknox commented on #717
What files were deleted, exactly?
On Thu, Apr 30, 2015 at 9:28 PM Joshua Chaitin-Pollak <
notifications@github.com> wrote:

[2015-05-03 03:29] jbcpollak commented on #717
It appears to be `modules/people` and `modules/projects`. I don't think
anything else is affected.

[2015-05-03 22:17] seanknox commented on #741
@jbcpollak

1. Edit your Puppetfile so gcc and git modules are the latest releases (see
the [puppet-gcc](https://github.com/boxen/puppet-gcc) and  [puppet-git](https://github.com/boxen/puppet-git) repos to the get the latest release version)
2. Remove any git/gcc version pinning in hiera
3. Ensure your Xcode or Command Line Tools are the latest versions
4. `cd /opt/boxen/repo && rm -rf .tmp .libra

[2015-05-03 22:17] #741 closed

[2015-05-03 22:20] seanknox opened #745 "MacRuby"
_From @cpetersen on July 21, 2013 0:48_

I built a boxen module for MacRuby, I was hoping someone could fork it into the boxen repository so others might benefit. The repo is:

https://github.com/cpetersen/puppet-macruby

Thank you in advance!

_Copied from original issue: boxen/boxen#104_

[2015-05-03 22:20] seanknox commented on #745
@cpetersen Boxen modules need to be request on the https://github.com/boxen/our-boxen repo—can you do so there?

[2015-05-03 22:20] seanknox commented on #745
_From @mikemcquaid on March 23, 2015 8:21_

@seanknox Maybe consider moving issues with https://github-issue-mover.appspot.com. A bit more user friendly?

[2015-05-03 22:24] seanknox commented on #745
Looking into this, MacRuby is a dead project. :/

[2015-05-03 22:24] #745 closed

[2015-05-03 22:27] seanknox commented on #717
@jbcpollak is your boxen repo publicly accessible? I can't imagine any way this could happen.

[2015-05-03 22:36] jbcpollak commented on #741
Hum, it was probably step 4 that was missing, I had tried everything else.
Should that step be part of a standard upgrade process, or whenever we
modify Puppetfile?

[2015-05-03 22:39] seanknox commented on #741
You generally don't need to, unless you're modifying modules, jumping between module versions, or something else uncommon.

[2015-05-03 23:53] jbcpollak commented on #717
I can give you access, there isn't anything  sensitive in the repo, but it
does reference some private repos I can't share.
On May 3, 2015 6:27 PM, "Sean Knox" <notifications@github.com> wrote:

[2015-05-03 23:54] jbcpollak commented on #741
So if you changed the version of a module referenced from Puppetfile would
you need to?
On May 3, 2015 6:39 PM, "Sean Knox" <notifications@github.com> wrote:

[2015-05-06 20:32] pfista commented on #744
+1

[2015-05-24 20:12] salimane commented on #717
this is caused by ``bundle exec librarian-puppet install --clean``. The ``--clean`` option means delete any file/folder not being managed by ``librarian-puppet``, thus ``Puppetfile``.
You should not use the ``--clean`` if you have files not checked into your repo.
Thanks

[2015-05-26 17:18] seanknox commented on #717
Thanks. Going to close this, would appreciate a PR to update documentation
if folks think that would be helpful.
On Sun, May 24, 2015 at 1:12 PM Salimane Adjao Moustapha <
notifications@github.com> wrote:

[2015-05-26 17:20] #717 closed

[2015-05-27 22:19] logicminds opened #750 "update to use boxen version 2.7.2"
Due to a recent github API change this module now needs to use the newer version of boxen gem otherwise oauth does not work.

See https://github.com/boxen/boxen/pull/183

[2015-05-27 22:30] tarebyte commented on #750
@logicminds PRs are welcome :grin:

[2015-05-27 22:34] logicminds commented on #750
can you re-open this issue so I can reference the issue in a PR and others be able to land on this page.

[2015-05-28 01:30] #750 closed

[2015-05-30 06:07] smcingvale commented on #678
@xenolf, how did you resolve this?  I'm running into the same issue.

    Error: Could not find dependency Class[Git] for Exec[clone /opt/boxen/repo] at /opt/boxen/repo/shared/boxen/manifests/repo.pp:18

[2015-05-30 12:24] xenolf commented on #678
@smcingvale If I remember correctly it was because I did not use the correct version of the git package in my Puppetfile.

[2015-05-31 20:36] smcingvale commented on #678
@xenolf, strangely, that didn't work for me.  But I got past it by requiring git in my site.pp manifest.  Thanks for your help.

[2015-06-06 23:36] drewrothstein opened #755 "encode error on install"
Attempting to install boxen on OS X 10.10.3.

After accepting my GitHub OTP, it fails out with-
[code]

All that has been done up to this point is that it has asked for my GitHub credentials-
[code]

Checked out a couple SHAs back, `1de9c88bcf6b96d05e12722b35a997591ff3ce2f` and it was able to run successfully.  Then I was able to checkout master and it kept working.

Happy to provide more system i

[2015-06-08 00:51] dspeele opened #756 "Unable to run boxen following readme"
Here's is the output:
[code]

[2015-06-11 15:53] andreorvalho commented on #741
Hi,

I am getting the same issue on a new clean installation. I have followed all the steps above.
My Xcode is version Version 6.3.2 (6D2105), which seems to be new.
My command line tools version is: 6.3.2.0.1.1431401888, running the command given above.
I have upgraded boxen as per instructions here: https://github.com/boxen/our-boxen/blob/master/docs/faq.md#q-how-do-you-upgrade-your-boxen-from-t

[2015-06-11 19:48] wchrisjohnson opened #758 "Could not retrieve facts for <machine>.local: A JSON text must at least contain two octets!"
I am seeing the following attempting to an initial boxen on my machine:

:repo $ ./script/boxen --no-fde --debug
--> Preparing to auto-update...
--> Complete! Nothing new from upstream.
No receipt for 'com.apple.pkg.CLTools_Executables' found at '/'.
/opt/boxen/repo/bin/librarian-puppet install --path=/opt/boxen/repo/shared --verbose
[Librarian] Ruby Version: 2.0.0
[Librarian] Ruby Platform: unive

[2015-06-12 01:44] drom296 commented on #384
this still happens

[2015-06-12 01:52] seanknox commented on #384
@drom296 please open a new issue and make sure includes output from `boxen --debug`.

[2015-06-12 01:55] drom296 commented on #384
@seanknox no thanks. As the beginning of this thread says, this only happens after getting rid of boxen and thus came across this error. Therefore I cannot do what you ask.

I did find my solution though. In the .gitconfig, delete the credentials helper that points to boxen folders.

[2015-06-18 05:54] wchrisjohnson commented on #646
I'm having this same issue with Tower; will I need to submit a PR to get this fixed in puppet-tower, or is there a workaround I can apply locally? I tried updating the tower manifest locally, and it got overwritten on my next boxen run...

[2015-06-19 21:23] seanknox commented on #741
@andreorvalho Hard to say from that limited output. Please open a new issue with the full output.

[2015-07-01 01:48] jacobbednarz opened #761 "Add puppet-paw for Boxen"
I've added a module for installing [Paw](https://luckymarmot.com/paw) via Boxen. The source repository is: https://github.com/jacobbednarz/puppet-paw

Could you please review it and let me know if it's fine to fork?

Thanks!

[2015-07-01 18:52] stefanvermaas opened #762 "Error: Could not find command 'git'"
Hi guys,

This is probably not a Boxen error, but I can't find out why this error is occurring. It seems that boxen can't find my git installation, though git is installed and working..

Any ideas?
Cheers!

[code]

[2015-07-10 13:41] josephDunne opened #763 "gpg cannot open `/dev/tty'"
Hi, I am trying a setup that requires a git repo encrypted using [blackbox](https://github.com/StackExchange/blackbox) which makes use of gpg/gpg-agent

So after setting things up I have the following Exec resource:
[code]

but this generates:
[code]

Is this a sudo issue? How does boxen handle these kinds of commands?

[2015-07-10 14:09] josephDunne commented on #763
I get this with a lot of packages. here is another one:

[code]

[2015-07-20 19:19] stereobooster commented on #717
I have the same problem. My repo https://github.com/stereobooster/my-boxen

[2015-07-20 19:53] jbcpollak commented on #717
So I never residences, but I think the probably I had was because of a bad
merge. At some point I merged my master branch with upstream master by
doing a rebase of my changes on top of the upstream master. But maybe I had
some other funky merges before or after that.

Anyway, I cleaned everything up, I think by starting from scratch and
reapplying all of my changes (by cherry picking).

Now when I

[2015-07-20 20:05] stereobooster commented on #717
https://github.com/rodjek/librarian-puppet

[2015-07-20 20:22] stereobooster commented on #717
`bundle exec librarian-puppet install` does not remove `modules/people` and `modules/projects`, but it still adds folders to `module` projects

[2015-07-20 21:37] stereobooster commented on #717
Figured it out. The problem occurs when you working outside of default location.
I was editing in `/Users/name/my/my-boxen`.
When you working in default directory (`/opt/boxen/repo`) everything is back to normal.

[2015-07-20 22:25] jbcpollak commented on #717
That makes sense, before I shifted my boxen merge around, I has a
~/src/my-boxen directory, but one I finished the merge changes I started
just symlinking /opt/boxen/repo to ~/src

On Mon, Jul 20, 2015, 5:37 PM stereobooster <notifications@github.com>
wrote:

--
--
Joshua Chaitin-Pollak
Chief Technology Officer
Assured Labor, Inc.
www.assuredlabor.com
www.empleolisto.com.mx
www.trabalhoja.com.br

[2015-07-28 11:46] dieterdemeyer opened #766 "Unable to obtain Mac serial number"
Hello,

When running boxen in a VM, I get the following error:
[code]
The serial number with the ```ioreg``` command is something generated in a VM, I assume..

The code in the ``` lib/boxen/preflight/creds.rb ``` file seems to be modified for generating the token.
Any suggestions besides reverting to the old code ?

[2015-07-28 15:25] dieterdemeyer opened #767 "Issue when running boxen"
Hello,

when running boxen with a relatively clean setup, I'm getting the following error:
[code]
However, I have no settings enabled with ```osx_defaults``` at the moment.

Has anyone else encountered the same issue ?

[2015-07-29 19:02] #767 closed

[2015-08-06 10:24] #766 closed

[2015-08-09 02:43] cscheib opened #769 "Issues with Boxen on OSX 10.11 public beta 4 (json-1.8.2 gem issues)"
I can't currently get Boxen working at all.  I understand it's a beta and not fully stable/supported.

Appears to be related to json-1.8.2

[code]

[code]

[2015-08-11 02:50] cscheib commented on #769
OK, so I've figured out how to get past this particular issue.  "full" Xcode without a developer account is at version 6.4, but if you install and use the command-line tools, they're at 7.x, it resolves a lot of issues.  I'm sure everyone's aware, but the boxen gem also needs to be at 2.8.0 (or modify os.rb to include OSX 10.11 in SUPPORTED_VERSIONS).

[2015-08-11 02:50] #769 closed

[2015-08-13 12:27] fculpo commented on #717
Same issue here, no matter if i merge into a local branch or master, or if i'm working in the default dir or not.

modules/ gets cleared and filled with modules that apparently should go to shared/

My repo: fculpo/boxen

[2015-08-14 02:02] charleshbaker opened #773 "./script/boxen --no-fde fails installing nodejs"
Following instructions at https://github.com/boxen/our-boxen. After initial setup when running ./script/boxen --no-fde the install starts then errors out as follows. I tried script/nuke --all --force. Even after starting all over again I get the same error. BTW, this is a on a fresh install of Yosemite on a new 15 inch MBP Retina.

[code]

[2015-08-14 02:55] adammcnamara commented on #773
Seeing the same issue on El Capitan (not officially supported, I know) with FDE on.

[2015-08-14 11:15] charleshbaker commented on #773
Ran boxen in debug mode. Looks like it's failing to download node.

Debug: Trying to download precompiled node for v0.6
Debug: Executing 'curl --silent --fail https://boxen-downloads.s3.amazonaws.com/nodes/Darwin/10.10/v0.6.tar.bz2 >/tmp/node-v0.6.tar.bz2 && tar xjf /tmp/node-v0.6.tar.bz2 -C /opt/nodes'
Debug: Executing '/opt/boxen/node-build/bin/node-build v0.6 /opt/nodes/v0.6'
Error: install fai

[2015-08-14 13:45] charleshbaker commented on #773
Full debug output:

[code]

[2015-08-14 19:44] rhussmann commented on #773
I'm seeing this, as well, on a fresh install of Mavericks 10.9.5 running with the `--no-fde` flag.

[2015-08-14 19:59] charleshbaker commented on #773
Do you guys think this is a problem with the '''--no-fde''' flag? Or the s3 bucket? Obviously crosses versions of MacOSX.

[2015-08-14 20:06] rhussmann commented on #773
I'm guessing it's something to do with the S3 bucket. I tried running the curl command as well, and wasn't able to pull anything down (the bucket I was pulling from had 10.9 in the path rather than 10.10). I can't understand why I shouldn't be able to curl to that URL, so I'm guessing either the bucket path is wrong, or the tarballs just aren't there.

[2015-08-15 01:31] rafaelfranca commented on #773
It is not a bucket problem. It is related with https://github.com/boxen/puppet-nodejs/pull/48. It tries to build a version that is just an alias @blackjid do you have any idea why?

[2015-08-15 18:44] bbck commented on #773
The the version numbering for the nodejs module changed at some point. It now expects version numbering without the 'v' prefix, so 0.6 instead of v0.6.

[2015-08-15 20:52] charleshbaker commented on #773
So, does that require renaming stuff in S3 and a code change?

[2015-08-15 21:36] bbck commented on #773
The definitions in manifests/site.pp needs to be updated. If you're using the latest version of puppet-nodejs they should look something like:

[code]

[2015-08-16 01:17] rafaelfranca commented on #773
Should be fixed now

[2015-08-16 01:17] #773 closed

[2015-08-16 01:17] rafaelfranca commented on #773
Thank you @bbck

[2015-08-16 01:25] rhussmann commented on #773
:+1: Thanks!

[2015-08-16 17:27] charleshbaker commented on #773
Thanks for fixing this with https://github.com/boxen/our-boxen/pull/774 @bbck !

[2015-08-17 13:07] blackjid commented on #773
thanks @bbck!

[2015-08-18 01:17] lstoll commented on #235
FWIW this seems to be a bug in puppet, I've reported it here: https://tickets.puppetlabs.com/browse/PUP-5047

This fix here: https://github.com/lstoll/puppet/commit/53efaffcb45fc165b12685f2085c1f732e4bfb9b seems to validate it. If I ever get anywhere, I'll open a PR to revert the hack in #581 and bump puppet.

[2015-09-30 21:34] timdorr commented on #761
If it's just a simple app, it's better to just use brew cask, since there is less overhead. It's already available: https://github.com/caskroom/homebrew-cask/blob/master/Casks/paw.rb

Then you can just do this:
[code]

[2015-09-30 21:47] jacobbednarz commented on #761
Thanks, closing this one off in favour of brewcask.

[2015-10-01 01:31] #761 closed

[2015-10-01 16:52] basilfx commented on #717
Got the same problem.

Cloned this repo, added `modules/people/*` and `modules/projects/*`, updated Gemfile according to docs  (for boxen 2.8.0 to add OSX 10.11 support) and then my `modules/` folder was truncated and filled with dependencies.

[2015-10-01 17:54] fculpo opened #778 "Build of Nginx and NodeJS fail on 10.11 (openssl related)"
On a fresh 10.11 install, Nginx and node cannot build via boxen.
OpenSSL is not found on the system.

Error: install failed with a crazy error: Execution of '/opt/boxen/node-build/bin/node-build 0.6.20 /opt/nodes/0.6.20' returned 1: Installing node-v0.6.20...

BUILD FAILED

Inspect or clean up the working tree at /tmp/node-build.20151001195057.86123
Results logged to /tmp/node-build.20151001195057

[2015-10-02 01:18] bbck commented on #778
Same issue here. Python also fails from the lack of openssl.

[2015-10-04 13:58] pwae commented on #778
related: https://github.com/boxen/puppet-nginx/pull/45

[2015-10-04 22:25] orien commented on #778
@bbck Pyenv have resolved this with this change https://github.com/yyuu/pyenv/commit/db325cc66d8f77c859ac9cb770940ef5390c6eb0

Try updating your pyenv to this commit. I did this via `hiera/common.yaml`
[code]

[2015-10-08 01:10] elsom25 opened #782 "After running nuke my terminal is unnaccessible"
Ran `nuke --all --force`, and now receive:

[code]

I've renamed my `.profile` to `.profile.bak` to ensure it's not being loaded and am not sure what else I can do, particularly without access to a terminal.

and for completeness,
[code]

As a temporary workaround, I can access a shell via `bash --noprofile`, though the problem of shell being broken after a boxen nuke is still not so great...

[2015-10-08 01:43] elsom25 opened #783 "Install after a boxen nuke not working"
Performed a nuke, which led to a few issues (#782). Resolved those, but now:

[code]

To note, this was all post updating to Osx `10.11`.

[2015-10-08 02:11] elsom25 commented on #782
And in the off chance anyone from google comes here:

[code]

I had changed my default shell to `/opt/boxen/homebrew/bin/bash`

Alas.

[2015-10-08 02:11] #782 closed

[2015-10-08 02:40] elsom25 commented on #783
And weird solution part 2, in case anyone else stumbles on this particular weirdness.

I had to add `/Library/Ruby/Gems/2.0.0/gems/bundler-1.5.3/bin` to my path in order for my console to find `bundle`, which was sufficient to let me run `./script/boxen`

[2015-10-09 09:18] jaxxstorm opened #784 "Update puppet-librarian"
I'm trying to use boxen with an updated version of puppet-librarian, because the bundled versions 1.0.9 lacks a load of features like referencing by git commit and such like.

However, I'm struggling. I updated the gemfile and it seems boxen depends explicitly on 1.0.9.

Is there an instruction set for this? I'll happily submit a PR if I can get this working

[2015-10-09 10:41] webflo commented on #784
+1 the bundled version feels sluggish

[2015-10-09 20:25] mpherg commented on #717
Same result here. The only thing that is different is an update to El Capitan.

[2015-10-14 22:09] richardtoner commented on #783
There was me beginning to think that an OS X upgrade was completely trouble free for the first time! I had to go and ruin that warm fuzzy feeling by attempting to install a few new apps with my broken Boxen :disappointed:

I decided to nuke it and start again. I then ran into the same issue as @elsom25 when attempting to run the Boxen script.

It seems the addition of `/Library/Ruby/Gems/2.0.0/gem

[2015-10-16 05:43] devcsrj commented on #659
+1

[2015-10-16 20:59] timdorr commented on #784
You can do it like this:

1. Fork [boxen/boxen](https://github.com/boxen/boxen)
2. In your own `our-boxen`, point the [`Gemfile`](https://github.com/boxen/our-boxen/blob/master/Gemfile) to your fork.
3. Do whatever updates you'd like to try in your `boxen` fork.
4. `bundle update boxen` in your our-boxen.
5. See if anything busted.

And when you're done and satisfied nothing is on fire, submit som

[2015-10-19 15:09] nolith opened #786 "nodejs 4.2.1 AccessDenied"
Hello, today I updated to El Capitan, while runinng boxen it fails to install node 4.2.1, I've started it with `--debug` and noticed that it fails after donwloading the prebuilt image from https://boxen-downloads.s3.amazonaws.com/nodes/Darwin/default/10.11/4.2.1.tar.bz2

I've checked it with my browser and it shows:
AccessDeniedAccess Denied9E514C393D258937KAByFUmF8fgAwQT7p4Ouv4VYapUzlgJhNPFizDViB

[2015-10-21 05:16] seanknox commented on #783
Upgraded to Xcode 7 on 10.10 Yosemite and encountered the same issue; path fix mentioned by @elsom25 did the trick.

cc @tarebyte @mikemcquaid

[2015-10-21 07:19] mikemcquaid commented on #783
@seanknox FYI I'm not longer actively maintaining Boxen any more. The solution here is probably to extend https://github.com/boxen/our-boxen/pull/759 somehow

[2015-10-21 10:07] seanknox commented on #762
I recommend uninstalling your version of git and ensuring you have CLT installed before running Boxen. If that doesn't fix it, please reopen.

[2015-10-21 10:07] #762 closed

[2015-10-21 20:56] orien commented on #778
#787 Will fix the nginx issue.

[2015-10-23 00:24] indika opened #788 "api.github.com 422 Validation Failed (Unprocessable Entity)"
While attempting to bootstrap boxen on a fresh computer, I encounter the following error message. My credential are correct. According to the GitHub API v3, "Sending invalid fields will result in a 422 Unprocessable Entity response."

[code]

[2015-10-26 22:15] jarrettone opened #789 "boxen module exists twice in module paths"
It appears the boxen module appears twice in the module search path. The below output shows that the custom facter facts are being picked up twice, resulting in an error about a constant and the facts.d dir being parsed twice.

    $ boxen
    --> Preparing to auto-update...
    --> Complete! Nothing new from upstream.
    Fact file /opt/boxen/repo/facts.d/example.yaml was parsed but returned an e

[2015-10-26 23:27] DeanSingh commented on #778
Has this been fixed for NodeJS yet?

[2015-10-27 05:28] eugeneius commented on #789
`/opt/boxen/repo/modules/boxen/` shouldn't exist; it certainly doesn't in this repo: https://github.com/boxen/our-boxen/tree/master/modules

You can safely remove that directory, which will fix the warning.

[2015-10-27 21:46] tetsuo692 commented on #778
DeanSingh try :
brew install openssl
brew link openssl --force
brew install nodejs
then you can run ./script/boxen into /opt/boxen/repo
it works for me

[2015-10-28 03:37] #778 closed

[2015-10-30 22:21] jarrettone commented on #789
I think it got pulled in in one of the librarian-puppet runs. I'll rebuild from scratch and verify.

[2015-11-01 17:43] brettswift opened #792 "gem files not found after bundle install - el capitan"
I just updated my boxen from this upstream module and with or without my changes I see an error when I run boxen.

Below is a boxen run, and then a bundle exec gem list.. showing the gem is there.
[code]

My ruby environment might be a bit mangled I'm guessing, but using `rbenv local` to try a few different rubies, and `rbenv system` to try my system ruby,  nothing seems to get through this.

What

[2015-11-02 12:37] takashiyoshida commented on #788
I had the same problem on my second Mac. You may want to refer to https://github.com/github/hub/issues/496

I followed one of the suggestions (deleting a duplicate OAuth token description). After deleting the duplicate OAuth token, I was able to run `./script/boxen` without the error.

[2015-11-03 13:53] wcorrigan opened #793 "unable to install on clean El Captain, error is: Puppetfile:41: syntax error, unexpected <<, expecting end-of-input (SyntaxError)"
I have a new system, 10.11.1, with Xcode up to date.
I'm trying to get boxen setup on it. Boxen works great on my other machine, Yosimite, installed 9 mos. ago.
Seems to be a problem with one of the ruby files. Should I edit this file?
When I run ./script/boxen,
This is what I get:
--> Preparing to auto-update...
--> Complete! Nothing new from upstream.
/opt/boxen/repo/.bundle/ruby/2.0.0/gems/libr

[2015-11-03 16:30] takashiyoshida commented on #793
You should check your Puppetfile (line 41?). Maybe you were merging some changes and did not resolve conflicts completely?

[2015-11-03 16:41] jarrettone commented on #789
@eugeneius looks like it gets pulled in as part of the librarian-puppet run when trying to update to current our-boxen per the FAQ*. This seems like either the Puppetfile should not include boxen and the module should just be part of shared or it shouldn't be in shared.

* https://github.com/boxen/our-boxen/blob/master/docs/faq.md#q-how-do-you-upgrade-your-boxen-from-the-public-our-boxen

[2015-11-04 05:35] eugeneius commented on #789
It looks like that FAQ entry is wrong.

When you run the `boxen` command, it tells `librarian-puppet` to install modules into the `shared/` directory:
https://github.com/boxen/boxen/blob/2.8.0/lib/boxen/puppeteer.rb#L105

The FAQ entry is telling you to run `librarian-puppet` without passing the `--path` option, which means it will use the default path for modules - which is `modules/`:
https://gi

[2015-11-04 08:43] wcorrigan commented on #793
Thank you. I don't know what the <<<<<<< HEAD means, but I retrieved Puppetfile from our-boxen repo and got past this error.

[2015-11-04 08:43] #793 closed

[2015-11-09 19:30] kulte commented on #792
@brettswift I just was able to successfully run `boxen` by `rbenv use`-ing, in my case, `2.0.0`. I'm unsure if it was the fact that it was `2.0.0` or the fact that perhaps it was the Ruby version I initially used when I setup Boxen, or something else entirely, but was having the exact same issue as you were beforehand.

[2015-11-16 10:00] indika commented on #788
Yes. This resolves the issue. Thank you.

[2015-11-16 10:00] #788 closed

[2015-11-16 18:44] henscu opened #794 "Lost Bundler on upgrade to El Capitan - how to reinstall Bundler in a safe way for Boxen?"
I just tried to get my Boxen up to date as per the upgrade instructions. I haven't upgraded since Jan 2015. However the process fails when I get to the `bundle install...` command below:

    rm Puppetfile.lock Gemfile.lock
    bundle install --no-deployment --without development --path .bundle
    rbenv: bundle: command not found

    The `bundle' command exists in these Ruby versions:
      2.1.

[2015-11-25 09:03] jacobbednarz commented on #794
Within our private fork, we have made a couple of adjustments which address this in El Capitan.

1) Updating system bundler

[code]

2) Adding system bundler to the `$PATH`

[code]

We are looking at pushing these upstream after getting some more testing around the changes but feel free to apply it and let me know how it works out for you.

[2015-11-30 09:54] singuerinc opened #796 "Change site.pp default node"
Because I develop all in Docker machines I don't want to install a bunch of node+ruby versions on my system.

I'm wondering what's the correct way of change the `site.pp` file without breaking Boxen any time I merge it with the upstream.

Basically I want to remove these lines:

[code]

I also want to remove `dnsmasq` and `nginx` but as they seems to be "core" modules maybe is not a good idea to r

[2015-11-30 16:35] justindowning commented on #792
I ran into the same issue and, like @kulte points out, it seems to have to do with the fact that El Capitan system ruby is now 2.2.3 and boxen works best (only?) with 2.0.0.
[code]
Here's how I fixed it:
[code]

[2015-12-02 17:43] fivetanley commented on #794
@jacobbednarz's patch worked wonders for me.

[2015-12-03 02:09] jacebrowning commented on #722
This seems to work for me:

`$ boxen; test $? -le 2`

[2016-01-05 03:56] sambauers opened #799 "Remove Puppetfile.lock from repository"
There is no need for this file in the repository as all the version numbers are locked in `Puppetfile` itself.

In our setup, where we have copied our-boxen into a non-forked private repository, merging the Puppetfile.lock is a real pain, and ultimately useless as we just regenerate it with a `librarian-puppet install` run anyway.

[2016-01-08 14:37] indirect opened #800 "Keychain Helper fails with "User interaction is not allowed" when user interaction is not needed"
Reproduction steps:

1. `ssh localhost`
2. `cd ~/src/bundler/bundler`
3. `git remote update`

What happens:

[code]

While user interaction may not be allowed, the keychain is unlocked, and `security find-internet-password` works perfectly fine even inside the `ssh localhost`.

What I expected to happen (and what does happen in a local terminal window, with no GUI prompts):

[code]

[2016-01-14 12:24] chriswu14 opened #801 "Boxen folder keep recreat itself with logs folder"
1. I am new to Mac.
2. My friend used to use boxen to install lots of stuff regarding to front-end developing on this Mac
3. I try to do everything from sratch so I decide to uninstall everything.
4. I FIRST tried to deleted the /opt/boxen folder and empty trash

Result: /opt/boxen keeps recreating itself as soon as I delete it. I guess there must be some tricks boxen did before it was first insta

[2016-01-14 12:49] chriswu14 commented on #801
I will guess it is because the stuff got installed by boxen before are still targeting opt/boxen/logs as their log folder?

[2016-01-20 23:33] eugeneius commented on #801
https://github.com/boxen/our-boxen/blob/master/docs/faq.md#q-how-do-you-remove-boxen

It sounds like you've already removed the `nuke` script from your machine; if you want, you can download and run it on its own: https://raw.githubusercontent.com/boxen/our-boxen/master/script/nuke

[2016-01-26 16:49] qrz-io opened #803 "Created puppet-varnish module"
https://github.com/qrz-io/puppet-varnish

It installs varnish and adds a service to Boxen. There is however a bug I can't really figure out: https://github.com/qrz-io/puppet-varnish/issues/1 any help would be appreciated.

[2016-01-28 19:04] bizob2828 commented on #608
We also had this issue where a user had a space in their password

[2016-02-05 02:41] habitullence opened #805 "Bunch of failing installs"
I'm getting the following error message:

[code]

[2016-02-05 02:47] habitullence opened #806 "Already evaluated at rest"
I'm getting the following output:

[code]

I believe it's caused by multiple binaries, as per https://tickets.puppetlabs.com/browse/FACT-634, but I can't figure out how to fix it.

[2016-02-06 18:00] habitullence commented on #805
I've completely removed and re-installed Boxen, still getting the same errors.

[2016-02-06 18:01] habitullence commented on #806
I've completely removed and re-installed Boxen, still getting the same errors.

[2016-02-06 20:07] habitullence commented on #805
Nothing to do with boxen, will open issues on those specific modules if need be.

[2016-02-06 20:07] #805 closed

[2016-02-07 10:18] habitullence commented on #806
The only thing I can see is inside /opt/boxen/repo/.bundle/ruby/2.0.0/gems/facter-2.4.4-universal-darwin/lib/facter/* define_resolution(:rest) is mentioned 3 times, maybe this has something to do with it.

[2016-02-07 10:35] habitullence commented on #806
This is indeed caused by multiple facter installs. I had facter, hiera, and puppet installed from the [package installers](http://downloads.puppetlabs.com/mac/?_ga=1.72772309.714034401.1451908122). To fix, downloaded them, run the installer, and remove all the files listed in File > Show Files (Cmd-I).

[2016-02-07 10:35] #806 closed

[2016-02-10 15:50] brettswift commented on #792
sorry for the delayed response, this worked on my home macbook, and just got it running on my work one. (I delay changes quite a bit here).

This fix might actually help me with a vagrant issue I'm having - specifically with beaker and rbenv and vagrant...  ruby paths are a pain in the butt!

A late Thanks

[2016-02-10 15:50] #792 closed

[2016-02-10 22:49] henscu commented on #794
@jacobbednarz , what's the easiest way to test your fix? Is it:

1. Create a branch
2. Edit script/bootstrap as above
3. Re-run Boxen to fix path to bundler
4. Rerun Boxen upgrade, in which the bundler command should now work.

Or do I need to nuke Boxen, then re-run it?

[2016-02-17 15:46] brettswift opened #807 "rbenv & bundler - not loading bundler/setup"
The rbenv setup here seems to become a pain when working with rspec on dev projects.  It seems like bundler isn't working.   A lot of boxen users are ruby devs so I'm thinking this is something that might not be a bug with our-boxen.   If it isn't then maybe someone can point me in a direction to get out of this ruby environment hell that I'm in.

[code]

What other information can I supply to hel

[2016-02-19 16:22] jonstorer commented on #235
I'm a bit late to the game, but I'm hitting this now. And FWIW, this is still an issue. Half of our macs are on a windows domain and they fail. So I'm using the hack above, which is a hack, not a fix, so I'm not sure why this is closed.

Anyway, what if we just used the user's main group? `id -gn` will give the group name, so why not use it? This script assumes the group is `staff`, but we could j

[2016-02-28 19:22] henscu commented on #794
@jacobbednarz patch worked for me..!

[2016-02-28 20:14] jacobbednarz commented on #794
My apologies @henscu - I was on vacation when your question came through and only just noticed this pop up again in my feed. The usual way I run the testing is just to checkout the remote branch from the Boxen directory and then run `boxen`. However, this one was slightly different so I nuked Boxen and started fresh (as that was where the problem existed).

[2016-03-01 18:30] henscu opened #808 "Problem with Node install - "Version must be like vN.N.N" - again"
I just updated to the latest version of Boxen, and when I run it I get the following error:

`Error: Parameter version failed on Nodejs[0.8]: Version must be like vN.N.N, not 0.8 at /opt/boxen/repo/modules/nodejs/manifests/version.pp:52
Wrapped exception:
Version must be like vN.N.N, not 0.8`

When I changed **manifests/site.pp** to have a node.js version of 0.8.0, I still get the error:

`Error:

[2016-03-03 16:08] henscu commented on #794
Thanks @jacobbednarz . Can I close this issue now or should I wait until #804 is merged?

[2016-03-03 21:35] jacobbednarz commented on #794
When #804 is merged, it _should_ close this automagically. If you're happy with the state of #804, drop a comment over there so we don't need to jump back and forth between the two for references :)

[2016-03-07 16:23] cbelk opened #809 "Created a golang module"
https://github.com/cbelk/cbelk-golang

Module for barebones Go installation.  Go downloaded from Google.

[2016-03-11 23:20] #699 closed

[2016-03-13 21:36] jacobbednarz commented on #796
I can see your point with wanting to strip these out and if you want to provide a pull request I'd be happy to review it. I would probably wrap this in a couple of `if`'s and then set a sensible default in the user manifest to install by default but allow people to opt out if needed. Here is how I would approach it

[code]

Where `$::install_nodejs` is managed by a YAML compatible Puppet manifest.

[2016-03-24 21:21] jacobbednarz commented on #809
Thanks for your contribution @cbelk! While this is a great start, I think there are a few of things that need to be mentioned here:

1. `go` can [already be installed](https://github.com/Homebrew/homebrew/blob/master/Library/Formula/go.rb) quite painlessly with homebrew so a module really isn't required.
2. Your module makes some assumptions (such as that everyone is using bash for their shell) wh

[2016-03-24 21:21] #809 closed

[2016-03-24 21:33] jacobbednarz commented on #803
Thanks for your contribution! I'm not really on the fence about whether it's worth including this module as `varnish` can already installed [using homebrew](https://github.com/Homebrew/homebrew/blob/master/Library/Formula/varnish.rb) and from the looks of it you are already leveraging this inside of your module so I'm not sure if it is just as easy to point people at using the homebrew version. Th

[2016-03-24 21:39] jacobbednarz commented on #799
Thanks for the feedback @sambauers. I'm not really comfortable removing the `Puppetfile.lock` from the repository since it is good for the majority of people who are just forking the vanilla `our-boxen` setup and possibly not running `librarian-puppet` locally.

If you are having issues maintaining a forked version, I'd recommend checking out the [FAQ article](https://github.com/boxen/our-boxen/bl

[2016-03-24 21:39] #799 closed

[2016-03-24 21:43] jacobbednarz commented on #789
@eugeneius That would be great if you could! :tada:

[2016-03-24 21:45] jacobbednarz commented on #783
@seanknox can you see if #804 will solve this for you?

[2016-03-24 21:47] jacobbednarz commented on #758
Hi @wchrisjohnson! Thanks for opening an issue, unfortunately it's been a while and it hasn't been updated. Could you please let me know if this is still an issue? I'm going to close this off but if you reply I'll gladly open it back up and help you work through the problem.

[2016-03-24 21:47] #758 closed

[2016-03-24 21:48] jacobbednarz commented on #756
Hi @dspeele! Thanks for opening an issue, unfortunately it's been a while and it hasn't been updated. Could you please let me know if this is still an issue? I'm going to close this off but if you reply I'll gladly open it back up and help you work through the problem.

[2016-03-24 21:48] #756 closed

[2016-03-24 21:50] jacobbednarz commented on #374
Closing due to inactivity. If you'd like to pursue this, I'm happy to reopen.

[2016-03-24 21:50] #374 closed

[2016-03-24 21:52] jacobbednarz commented on #801
I'd also recommend not attempting to run this on an already setup machine with things like ruby/node installed as it does mess with Boxen and makes setup quite a bit more difficult.

[2016-03-24 21:57] jacobbednarz commented on #763
Hi @josephDunne! Thanks for opening an issue, unfortunately it's been a while and it hasn't been updated. Could you please let me know if this is still an issue? I haven't used blackbox myself but I'm happy to help you debug this one if you're still seeing it. I'm going to close this off but if you reply I'll gladly open it back up and help you work through the problem.

[2016-03-24 21:57] #763 closed

[2016-03-24 22:00] jacobbednarz commented on #786
@dgoodlad @mikemcquaid I've got no idea who owns these AWS buckets. Are you able to point me in the right direction here?

[2016-03-24 22:01] jacobbednarz commented on #755
Hi @drewrothstein! Thanks for opening an issue, unfortunately it's been a while and it hasn't been updated. Could you please let me know if this is still an issue? I'm going to close this off but if you reply I'll gladly open it back up and help you work through the problem.

[2016-03-24 22:01] #755 closed

[2016-03-24 23:18] eugeneius commented on #789
I was suggesting that @jarrettone could do it... but okay :grin: https://github.com/boxen/our-boxen/pull/811

[2016-03-24 23:20] jacobbednarz commented on #789
ah, my apologies! thanks.

[2016-03-25 00:07] mikemcquaid commented on #786
They are owned by GitHub but GitHub is no longer actively maintaining Boxen. Thoughts on what to do?

[2016-03-25 00:18] jacobbednarz commented on #786
Do we have usage/cost details fot this bucket? Depending on the costs associated perhaps it's better to look at an approach of using the existing prebuilt binaries available and adjusting to that?

[2016-03-25 00:24] mikemcquaid commented on #786
@jacobbednarz I do not. I would suggest adapting to an approach that doesn't need GitHub's bucket, yeh.

[2016-03-25 00:29] jacobbednarz commented on #786
Depending on the costs I would see if it was worth pulling into it's own AWS account and seeing if Envato was interested in covering the costs since we use it internally.

I'll check out what precompiled versions are available and whether it's a suitable enough to do a swap over.

[2016-03-25 00:31] mikemcquaid commented on #786
I'm a bit of an AWS noob so you'll need to let me know how to check e.g. specific costs for these files.

[2016-03-25 00:44] jacobbednarz commented on #786
Without knowing too much about the setup in place, you'll need to get the usage (probably through cloudwatch) and then plug the values into http://calculator.s3.amazonaws.com/index.html. AWS is pretty crap with granular cost analysis below the service type level.

[2016-03-25 00:45] jacobbednarz commented on #786
Also check out the AWS Billing section of the account - there might be more details in there to assist with this.

[2016-03-25 01:51] seanknox commented on #783
@jacobbednarz I'm no longer using Boxen as well. Thanks for checking in!

[2016-03-25 02:16] jacobbednarz commented on #783
Thanks, closing.

[2016-03-25 02:16] #783 closed

[2016-03-29 01:47] jacebrowning commented on #806
I simply deleted `/opt/boxen/repo/.bundle/ruby/2.0.0/gems/facter-*` to resolve the issue on my machine.

[2016-03-31 00:18] henscu commented on #808
Mea culpa, so closing this.

I hadn't updated Boxen in ages and when I did, my site.pp was not updated, so the formats for node.js versions were still N.N.N and consequently produced the above error when I ran Boxen.

So, my fix was simply to manually update the versions to vN.N.N...

[2016-03-31 00:18] #808 closed

[2016-03-31 02:05] jacobbednarz commented on #808
Thanks @henscu! Glad it was resolved. :smile:

[2016-04-04 13:30] hakamadare opened #814 "`brew update` failes after upgrading to homebrew 0.9.9"
After upgrading homebrew to the latest version (apparently over the past weekend the maintainers split it into Homebrew/brew and Homebrew/homebrew-core?), I now get the following Puppet error when running `boxen`:

[code]

Looks like something has changed upstream?  attn @jacobbednarz who seems to be working on something related

[2016-04-04 13:48] wfarr commented on #814
Yeah. Appears homebrew has split up formulae from the package manager itself (a change I am quite happy to see!) but we'll want to fix a few things on boxen's side for compatibility with the new world order.

Sent from my iPhone

[2016-04-04 20:05] jacobbednarz commented on #814
Yep! I'm tackling a asort term fix at https://github.com/boxen/puppet-homebrew/pull/92 and once we get everyone working again, I'll take a look at getting it working using the split repository setup.

[2016-04-04 20:20] mikemcquaid commented on #814
Made a release in https://github.com/boxen/puppet-homebrew/releases/tag/2.0.1.

[2016-04-04 20:33] hakamadare commented on #814
@mikemcquaid thanks for that!  i just modified my Puppetfile to pull puppet-homebrew 2.0.1 (and have confirmed that there's a 2.0.1 module downloaded by librarian-puppet), but i still see the same error message; is there something else i need to do to implement the short term fix?

[2016-04-04 20:36] jacobbednarz commented on #814
I'll be updating our-boxen shortly with 2.0.1 if you'd like to test that out?

[2016-04-04 20:40] mikemcquaid commented on #814
@hakamadare I haven't personally investigated this. It may need a more involved fix. I'm not personally using Boxen any more but if people are still struggling in a few days I can try and boot up a VM and check it out.

[2016-04-04 20:57] #814 closed

[2016-04-04 21:00] jacobbednarz commented on #814
@hakamadare check out #815 as the proposed fix. You should be able to checkout this branch locally and run `boxen` with a working homebrew again.

[2016-04-04 21:53] mikemcquaid commented on #814
Made another release in https://github.com/boxen/puppet-homebrew/releases/tag/2.0.2.

[2016-04-05 01:03] snewman commented on #814
This fixes it for me. Going to send a pull request over to our-boxed as it's currently pegged to the old (now breaking) 2.0.1

[2016-04-05 01:04] jacobbednarz commented on #814
@snewman I've got one open via #816 however I before merging I was interested in the reasoning behind why using root has all of a sudden broke.

[2016-04-05 02:14] snewman commented on #814
Ah, gotcha!
On Tue, 5 Apr 2016 at 11:05, Jacob Bednarz <notifications@github.com> wrote:

[2016-04-05 13:10] hakamadare commented on #814
https://github.com/boxen/puppet-homebrew/releases/tag/2.0.2 works for me, thanks!

[2016-04-06 18:12] jarrettone commented on #789
Apologies gents, been away for a while. Toddlers are time thieves.

I was about to say that I'll gladly update the faq, but @eugeneius beat me to it. @jacobbednarz any chance on getting that merged in the not-too-distant? Is there more that needs to be done here to get it merged?

[2016-04-07 01:58] #789 closed

[2016-04-07 01:58] jacobbednarz commented on #789
Consider it done. Thanks! :)

[2016-05-05 23:04] #794 closed

[2016-05-10 13:26] qrz-io commented on #803
Apologies, it appears I've missed this comment!

Well, I sort of agree, pointing would be certainly easier. I was kind of thinking of having Boxen install projects with everything they need - including the php and nginx configs, a database and varnish configs if needed. For instance, configure boxen to make nginx listen to port 8081 and varnish listen to port 80 with its backend on port 8081.

The

[2016-05-10 22:30] jacobbednarz commented on #803
Sounds good. I've forked the repository into the Boxen organisation and added you to the @boxen/puppet-varnish-maintainers group. Have fun!

[2016-05-10 22:30] #803 closed

[2016-05-11 09:36] petems commented on #722
Yeah, this is a Puppet exit with detailed exit codes thing, so working as intended 👍

[2016-05-11 09:36] #722 closed

[2016-08-04 02:23] happicamper opened #822 "Problem installing xampp using boxen"
Tried installing xampp using manifest

[code]
results to image unrecognized, tried replacing `appdmg` into `pkgdmg` it executes Boxen smoothly but the application won't be installed at the end. Also tried simple brew cask:
[code]
 and results to `no tty present and no askpass`

[2016-08-24 15:17] pelegb commented on #713
Hi,
Will you support Travis or CircleCI?
Thanks

[2016-08-24 21:58] jacobbednarz commented on #713
@pelegb I haven't been involved in the above testing but my preference is via Travis CI because that is where most of the puppet stuff is also run so it would be good to use the one provider. I've got this on my to-do list to look into since Travis CI does have OSX images able to run tests on but I'll open other issues or pull requests when I get around to it.

[2016-08-26 17:04] hyleung opened #824 "Bump brewcask dependency to 0.0.7"
With `brewcask` 0.0.6, I'm seeing the following error:

[code]

I think this is due to an issue addressed by https://github.com/boxen/puppet-brewcask/pull/46, which was included in `brewcask` 0.0.7.

I've made this change in a couple of my own environments and it seems to get rid of the error. Haven't verified on a completely clean environment yet tho'.

[2016-08-28 18:15] jabley commented on #824
👍 I've done the same, and works for me.

https://github.com/jabley/our-boxen/pull/9

[2016-08-29 01:19] jacobbednarz commented on #824
fixed in #825.

[2016-08-29 01:19] #824 closed

[2016-08-29 01:20] jacobbednarz commented on #801
closing due to inactivity.

[2016-08-29 01:20] #801 closed

[2016-09-21 14:25] jaredledvina opened #827 "Sierra: Fresh Install - Issue with bundler not finding gems"
OS: macOS Sierra
Fresh Install
Xcode Command line Tools (not full install)

Was simply following the bootstrapping section on the README, https://github.com/boxen/our-boxen/blob/master/README.md#L54 but when running boxen it'd error:

[code]
[code]
[code]

From there everything worked without an issue.

[2016-09-22 03:48] jacobbednarz commented on #827
Thanks for the report! :star:

I've seen this happen prior to the release of mac OS sierra so I don't think this is anything new however I still don't know exactly why it happens though.

[2016-09-26 03:36] tommeier commented on #827
Yup - also getting this since updating to boxen 2.9.0 (el capitan pre-sierra)

[2016-09-26 05:28] tommeier commented on #827
I couldn't work it out, but my state was stuffed in someway, so a full boxen nuke then rebuild on 2.8, then update to 2.9 worked flawlessly.

[2016-09-26 05:38] happicamper commented on #827
Went from El Capitan (with boxen) to Sierra and tried the latest boxen again, works fine, but when I tried a fresh install of macOS Sierra and run `script/boxen` it produces error something like json 1.8.3 missing. Still trying some ways on how to resolve this missing gem.

[2016-10-01 17:27] spacepants commented on #827
Hey there, so from what I understand Boxen caches all of the gems in the repo in order to make the initial bootstrap process as quick as possible. When the boxen gem was updated to 2.9.0 in #826, the Gemfile and lockfile were updated, and the older versions of boxen and faraday were removed from the cache, but the new versions weren't included.

#828 fixes this. :shipit:

[2016-10-03 20:43] #827 closed

[2016-10-03 21:08] jacobbednarz commented on #827
@spacepants while the gems were missed, this is a longer standing issue and as I mentioned, has been present for a while prior to these updates.

I've merged the change to get the gems re-added however I'll need to find some time to investigate why this randomly happens with installations.

[2016-10-15 19:39] vesan commented on #814
It seems I'm unable to get this to work.

The error I'm getting when running `script/boxen` is:

Error: Execution of 'brew update' returned 1: Error: Running Homebrew as root is extremely dangerous. As Homebrew does not
drop privileges on installation you are giving all build scripts full access
to your system. As a result of the macOS sandbox not handling the root user
correctly HOMEBREW_NO_SANDB

[2016-10-19 04:40] jacobbednarz commented on #822
Have you tried using brewcask to install this? There is a supported formulae already for this.

[2016-10-19 06:30] happicamper commented on #822
Hello @jacobbednarz, nice to hear from you again. Yeah, I've tried installing xampp via brew cask (manually) and installed successfully, but when I'm gonna try Boxen for it, it fails and throw `no tty present` and no `askpass` error.

[2016-10-19 09:29] jacobbednarz commented on #822
Terribly sorry on the delay - I'm slowly getting through these repositories and their existing issues.

Have you only tried using a puppet manifest? Do you get the same thing when you use hiera (a.k.a `boxen::personal::osx_apps`?

[2016-10-20 06:50] happicamper commented on #822
No problem @jacobbednarz you have your priorities. 😄
Yes, I've tried using hiera but no luck, still producing `==> sudo: no tty present and no askpass program specified` error.

[2016-10-24 03:32] jacobbednarz commented on #807
@brettswift I've been unable to replicate this - Do you have a sample public repository I can try this on?

[2016-10-24 03:32] #796 closed

[2016-10-24 22:55] jacobbednarz commented on #822
This sounds like a broken formulae (https://github.com/caskroom/homebrew-cask/blob/master/Casks/xampp.rb). Perhaps have a try at correcting it in the upstream formulae repository?

[2016-10-24 22:59] jacobbednarz commented on #822
I'm not expert but I think https://github.com/caskroom/homebrew-cask/blob/master/Casks/xampp.rb#L12 is your issue due to it trying to sudo on the command.

My recommendation would be to fork the repository and have a crack at resolving it locally using the homebrew guidelines and go from there. I suspect there is some sort of incompatibility between the two but I don't know enough about the homebr

[2016-10-24 23:37] happicamper commented on #822
@jacobbednarz I'm gonna try your recommendation matey! Thank you for your time. 👍

[2016-10-24 23:38] #822 closed

[2016-11-07 21:21] salimane opened #834 "homebrew 1.0.0+ is conflicting with homebrew_root"
In https://github.com/boxen/our-boxen/blob/master/facts.d/example.yaml, one could set the default ``homebrew_root`` folder.

Since 1.0.0, homebrew now migrates the ``HOMEBREW_REPOSITORY`` when you run ``brew update``.

Running ``boxen`` after a ``brew update`` reinstalls all packages.

anyone having this issue ?

[2016-11-08 22:46] jacobbednarz commented on #834
I didn't experience this post upgrade to > 1.0.

I'm on vacation at the moment but will be back in another week or so if you're still having this issue.

[2016-11-13 16:14] salimane commented on #834
I'm getting the following after a post upgrade to > 1.0. Basically boxen trying to recreate the folders that homebrew just migrated.
[code]

[2016-11-15 06:20] jacobbednarz commented on #834
@salimane did you nuke your setup *before* upgrading to the new OS?

[2016-11-15 06:21] jacobbednarz commented on #373
Closing due to this issue being stale. If you can still reproduce or would like to continue this discussion, please let me know and I'll reopen this.

[2016-11-15 06:21] #373 closed

[2016-11-15 06:21] jacobbednarz commented on #403
Closing due to this issue being stale. If you can still reproduce or would like to continue this discussion, please let me know and I'll reopen this.

[2016-11-15 06:21] #403 closed

[2016-11-15 06:21] jacobbednarz commented on #647
Closing due to this issue being stale. If you can still reproduce or would like to continue this discussion, please let me know and I'll reopen this.

[2016-11-15 06:21] #647 closed

[2016-11-15 06:22] jacobbednarz commented on #725
Closing due to this issue being stale. If you can still reproduce or would like to continue this discussion, please let me know and I'll reopen this.

[2016-11-15 06:22] #725 closed

[2016-11-15 06:22] jacobbednarz commented on #786
Closing due to this issue being stale. If you can still reproduce or would like to continue this discussion, please let me know and I'll reopen this.

[2016-11-15 06:22] #786 closed

[2016-11-15 06:22] jacobbednarz commented on #744
Closing due to this issue being stale. If you can still reproduce or would like to continue this discussion, please let me know and I'll reopen this.

[2016-11-15 06:22] #744 closed

[2016-11-15 06:24] jacobbednarz commented on #713
Closing due to this issue being stale. If you can still reproduce or would like to continue this discussion, please let me know and I'll reopen this.

There are plans for a better testing suite in the future so I'll reference this (and other PR's) as it comes up.

[2016-11-15 06:24] #713 closed

[2016-11-15 06:24] jacobbednarz commented on #807
Closing due to this issue being stale. If you can still reproduce or would like to continue this discussion, please let me know and I'll reopen this.

[2016-11-15 06:24] #807 closed

[2016-11-15 12:21] brettswift commented on #807
Hey, sorry for not replying to this thread.

I've stopped using boxen.  It's just been kind of flakey for me.  Might be better if there were 10 others using the boxen project but with just me it's not worth the maintenance effort.

[2016-11-15 21:07] salimane commented on #834
@jacobbednarz  no but i can do nuke and setup again to see if it will solve the problem

[2016-11-15 21:09] jacobbednarz commented on #834
In our internal fork, we mandate the nuke before an OS upgrade as we've found traces left behind during the upgrade often cause edge cases. Some people have upgraded to Sierra and I don't know of anyone hitting the above issue so I'm not sure but it's worth a try if you can.

[2016-11-28 01:35] #784 closed

[2016-11-30 19:20] jonstorer opened #837 "Can't bootstrap, dependencies are outdated."
Full disclosure: I recently merged upstream/our-boxen into my repo. This could be all my fault. In case it isn't:

On this line, https://github.com/boxen/our-boxen/blob/master/script/boxen#L156, the process is aborted when the script `script/bootstrap --quiet --deployment --local --without development:test --no-cache` has no output. However, the `--quiet` flag silences the command. Which, to me, m

[2016-12-02 01:29] jacobbednarz commented on #837
Very interesting - I haven't been able to replicate this one. I maintain our internal `our-boxen` and I usually run those changes for a couple of weeks before pushing them upstream to the main line.

Have you tried manually running that command without the `--quiet` flag to see where it is breaking down?

[2017-01-14 23:21] jacobbednarz commented on #834
@salimane just checking if this is still an issue?

[2017-01-14 23:22] jacobbednarz commented on #734
Closed due to inactivity. Please let me know if you test this against the latest version and still experience this issue.

[2017-01-14 23:22] #734 closed

[2017-01-15 05:11] salimane commented on #834
yep this is still an issue, i'm not sure if it's related to user permissions. When I do ``brew update``, I'm getting
[code]

[2017-01-23 21:11] jacobbednarz commented on #834
I'm just looking into the error response [here](https://github.com/Homebrew/brew/blob/3fde8624b3aec788248c652dff84a62fd051da98/Library/Homebrew/cmd/update-report.rb#L188-L189) and wondering why it's not bailing out. :confused:

Could you put in the following debugging to help identify whether something is missing here?

[code]

This should be applied to the `brew` executable (wherever that lives i

[2017-01-23 21:26] salimane commented on #834
Ok this is what I've got locally

[code]

[2017-01-24 07:11] indirect opened #839 "Can't log in, 2FA errors forever"
2FA accounts are unable to log in when running `script/server`:

[code]

Repeat until you get tired and give up. It's an infinite loop.

(Yes, I'm 100% sure my password and token are correct, and I used them to log in to GitHub.com moments before using them in Boxen.)

[2017-01-24 07:38] jacobbednarz commented on #839
Thanks for the report @indirect.

Are you able to check whether Boxen is listed as an authorized application at https://github.com/settings/applications? Could you also provide the version of `boxen` and `our-boxen` you are running?

From the messages above, it looks like something is breaking down at [`lib/boxen/preflight/creds.rb#L59`](https://github.com/boxen/boxen/blob/master/lib/boxen/preflig

[2017-01-25 02:36] indirect commented on #839
@jacobbednarz ah, sorry I should have included versions and such. I did a straight up checkout of boxen/our-boxen@a61b60d22a60ba24d1c0f6bf0dcd48e63cafc344, and ran `bundle install --path .bundle; script/boxen`. That should make it pretty easy to repro. 👍

I did some print-debugging inside `creds.rb`, and it does appear to be passing the `headers` hash to Octokit with the correct OTP:

[code]

Neve

[2017-01-25 04:05] jacobbednarz commented on #839
I've taken the following steps:

- Checked out boxen/our-boxen@a61b60d
- Revoked `boxen-web` token at https://github.com/settings/applications
- Revoked single personal token at https://github.com/settings/tokens
- Ran Boxen commands from your report

[code]

From what I can guess, the OTP stuff is being caused by one of the following:

- Your OTP device is suffering from clock drift. I've experie

[2017-01-25 04:52] indirect commented on #839
Ugh. Thanks for checking on this! It working for you is super, super confusing. I'm using the Authy app on my iPhone, and I am able to generate valid OTP tokens and log in to github.com successfully, so I'm super confused about why Octokit can't log in using them. I guess I'll just manually generate a token and stuff it in my netrc and move on.

[2017-01-25 04:57] jacobbednarz commented on #839
If you dump the HTTP request being made, does it line up with your Mac clock (and be within a couple of minutes)?

[2017-01-26 22:46] jacobbednarz commented on #834
@salimane based on this diff, you are running it against a non-existent file 😛  (a.k.a the backup file which I generated). are you able to drop in this debugging and we'll see what it produces?

Also, did you nuke Boxen before the update?

[2017-01-27 07:08] salimane commented on #834
@jacobbednarz , here is the debug output
[code]

[2017-01-28 07:58] indirect commented on #839
@jacobbednarz here's a full dump using the debug instructions from the Octokit readme and some extra debug prints from me (starting with "**"). It seems like Octokit is making a second request, and the second request is raising the exception, even though the first request failed? The only line of ruby code getting run is [tmp_api.authorizations(:headers => headers)](https://github.com/boxen/boxen/

[2017-02-01 22:24] texasviking opened #840 "Default config install fails on new machine"
New MacBook Pro
MacOS 10.12.3

This is a brand new machine, straight out of the box. Installed App Store updates, command line tools, and added ssh key for GitHub.

Here is the excerpt of ./script/boxen output where the errors happen:

[code]

[2017-02-01 22:26] jacobbednarz commented on #840
`Notice: /Package[boxen/brews/hub]: Dependency Homebrew_repo[/usr/local] has failures: true` looks to be the issue here. Everything else seems to be stemming from it.

Does that homebrew directory exist?

[2017-02-01 22:33] texasviking commented on #840
`/usr/local/Homebrew`  Exists, and is a git repo.

[2017-02-01 22:35] texasviking commented on #840
`/usr/local/Library` does not exist though.

[2017-02-02 00:08] texasviking commented on #840
@jacobbednarz re-running resolved issue. Not sure if it failed at creating that directory the first time through.

[2017-02-02 21:25] jacobbednarz commented on #839
I've tried replicating this for the last few days and I've come up empty 😞

@MikeMcQuaid are you able to take a look at the logs at GitHub for the possible cause here? I'd like to be able to safe guard against but not sure what is actually causing the issue.

[2017-02-03 11:00] MikeMcQuaid commented on #839
@jacobbednarz Email support@github.com and they'll be able to help more.

[2017-03-17 23:41] gabriel403 commented on #840
I also had this same problem, as @texasviking said re-running resolved it

[2017-04-03 19:14] rudymccomb commented on #840
I too had the same problem @texasviking is correct re-running does fix the issue

[2017-04-21 22:57] akalman opened #842 "bundler management missing middleware or configuration capabilities"
I recently modified a puppet module to use several backing ruby functions that are dependent on the nokogiri ruby library.  Because the puppet module itself isn't inside the gem tree (and its own gemfile is only used for testing), the nokogiri dependency needs to be explicitly fulfilled in the ruby environment that boxen is executing in.

This can easily be done by modifying the Gemfile in our `ou

[2017-04-22 19:33] ClashTheBunny commented on #840
My guess is that it's an issue with ```brew --version```:
[code]

[2017-04-22 23:40] jacobbednarz commented on #840
@ClashTheBunny If that is the case, I'd welcome a PR to enable `export HOMEBREW_NO_ANALYTICS=1` as the default when installing for the first time.

[2017-04-24 00:07] jacobbednarz commented on #842
Implementing a hooks system for Boxen has been something I've been contemplating for a while now however every time I've got into it I've hit issues with dependency or encapsulation for our use cases.

The implementation was simply a collection of bash `find`s + `grep`s for a specific filename pattern and then execute each of them concurrently. Nothing fancy but I lost interest after it didn't sol

[2017-04-26 05:06] akalman commented on #842
here ya go

https://github.com/boxen/our-boxen/pull/845

[2017-06-15 14:29] zhenkyle opened #848 "Where does this brew cask warning come from?"
I'm on a fresh new macOS 10.12.5 box with a fresh new our-boxen cloned from here and installed.

When I run any brew cask command, I got warning message like this:

[code]

But I didn't calling `brew cask` with the `--caskroom` at all!

Does any body know where does this warning message come from? It is quite annoying.

[2017-06-15 22:46] jacobbednarz commented on #848
👋  thanks for reporting!

This warning comes from setting the `HOMEBREW_CASK_OPTS` in your environment. You can confirm this by running `env | grep HOMEBREW_CASK_OPTS` in a shell.

[code]

You can confirm this is the cause by running `HOMEBREW_CASK_OPTS="" brew cask --version` and you won't get the error.

To better integrate with upstream Homebrew and Cask, I consolidated the management (and remo

[2017-06-16 01:41] jacobbednarz commented on #848
I've bumped the version in #849 so once that lands you should be all set 👍

[2017-06-16 03:42] #848 closed

[2017-06-16 14:53] zhenkyle commented on #848
Confirmed disappearance of the warning message after pull #849, and thanks for your elaborate explanations.

Wow, there's a lot of consolidating code in boxen/puppet-brewcask#50, to be honest, I can't  figure out so much in a similar PR, the credit is alway yours! Well done!

[2017-07-13 06:38] Nancy-zj commented on #438
：(

[2017-08-27 08:39] EugenMayer opened #852 "Is this repo dead? Any successor?"
It seems / has been stated, github has abandoned boxen in general - so things become pretty quiet nowdays.

How to think about our-boxen here and the general project, are there any successors?

[2017-08-27 10:08] jacobbednarz commented on #852
Hi @eugenemayer 👋🏼

The Boxen project has been discontinued at GitHub however there are still a bunch of companies using and supporting this project so it's definitely not dead. Something to keep in mind is that this project consists of 313 other repositories which need maintenance and some of them require more love and attention than this repository.

I've been heading up a bunch of larger intiat

[2017-08-27 10:08] #852 closed

[2017-08-27 10:47] EugenMayer commented on #852
Thats a great answer @jacobbednarz, thank you a lot.

The problem with the maintenance is, that is forks without an upstream merge, since people learned, thinks are not going to be merged anyway.

the problem is the governance model - its build so that some Leutnants can oversee a pull into the main repos / modules, which suits well and can be stated as good quality.
But even in the days when gith

[2017-08-27 22:25] jacobbednarz commented on #852
I only partially agree with this since community contributed modules have always been maintained by people outside of the core maintainers and they have been fully in control of who can merge or approve changes. The way a new module used to come about was that it would be forked into the Boxen organisation and then a new GitHub team was created with the name "<module_name> maintainers" (see boxen/

[2017-08-29 10:08] sachingupta771 commented on #661
Hi, I’m facing same issue. Can u pls tell how did u started fresh boxen install since in my case it is remote gem thus looking for a way to do a fresh reinstallation.

[2017-08-29 21:34] jacobbednarz commented on #661
Hi @sachingupta771,

Are you able to elaborate on what steps you've taken and any error messages you've received? This is a 3 year old issue so you're probably best creating a new issue with your specific environment details to help diagnose it.

[2017-08-30 03:56] sachingupta771 commented on #661
Hi  **@jacobbednarz**,
I'm getting the error while testing the unit test case file using rspec gem with puppet
Puppet::DataBinding::LookupError:
       Function lookup() did not find a value for the name 'profiles::ci::jenkins::user' at /app/hybris-devops/hybris/modules/profiles/spec/fixtures/modules/profiles/manifests/ci/jenkins/config.pp:1 on node
Thus was thinking of trying to reinstall boxen a

[2017-08-30 04:00] jacobbednarz commented on #661
Based on that error message, it isn't anything to do with core Boxen - it's an issue with the Jenkins puppet module that is trying to find a value and you haven't provided a value for. I'd recommend taking a look at the module and following the setup ensuring you define the correct values in hiera.

[2017-08-31 23:23] #840 closed

[2017-08-31 23:23] jacobbednarz commented on #840
Closing this issue but if anyone is interested to open a PR with the changes mentioned here, I'll gladly review it.

[2017-08-31 23:24] jacobbednarz commented on #839
@indirect did you get anywhere with this? I'm happy to make changes within Boxen if there is something we can do better.

[2017-08-31 23:26] jacobbednarz commented on #837
Closing due to inactivity, feel free to let me know if you've got anything more to add here.

[2017-08-31 23:26] #837 closed

[2017-09-25 22:50] #842 closed

[2017-10-31 19:09] nishantagarwal1990 opened #857 "Support for macOS 10.13 (High Seirra)"
Hi,

Will the support for macOS 10.13 be provided anytime soon?
I get the following prompt:
`--> You must be running one of the following OS X versions: 10.8 10.9 10.10 10.11 10.12.`

Any advice on how to fix it locally for use?

[2017-10-31 20:22] nishantagarwal1990 commented on #857
I guess this is is the wrong place. Shifting it to boxen.

[2017-10-31 20:22] #857 closed

[2018-03-14 13:05] ki0 opened #865 "Running brew"
Hi there,

I dont know what it is happening but from some time i got this answer from boxen:

[code]

What can i do? it seems it is outdated.
Cheers.

[2018-03-14 21:44] jacobbednarz commented on #865
The error message you're receiving is due to the vendored Homebrew formula using deprecated directives.

- GCC: the `fails_with` directive was removed in boxen/puppet-gcc#21 so best to upgrade to the latest version of that if you still need it.
- Git: I've never seen that error message. Would you be able to open an issue at [`boxen/puppet-git`](https://github.com/boxen/puppet-git) with some more i

[2018-03-14 21:44] #865 closed, assigned to nobody